@using DataLayer.ViewModels;
@using DataLayer.Base;
@using DataLayer.Entities;
@using DataLayer.Enumarables;

@model DataLayer.Entities.Survey
@{
    ViewBag.Title = Resource.Lang.Survey;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Header {
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/fileuploads/css/dropify.min.css" />
}

@section Script {
    <script src="~/assets/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            initializeNewSurveyScript();
        });
    </script>
}


<div codeprocess-back-form="/Content/Survey" codeprocess-ajax-form="/Content/Survey/Create">
    @Html.HiddenFor(model => model.DateTime)
    <div class="col-sm-12">
        <div class="card-box">

            <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>


            <div class="col-sm-12">
                <div class="form-horizontal">
                    <div class="col-sm-6 no-padding">
                        <div>
                            <div class="col-md-10 col-md-offset-2">
                                <div class="row">
                                    @if (ViewBag.Message != null && ViewBag.Message != "")
                                    {
                                        @Html.Partial("~/Views/Public/Message.cshtml", (ViewMessage)ViewBag.Message)
                                    }

                                </div>
                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, Resource.Lang.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Label, Resource.Lang.Lable, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @foreach (WebsiteLanguage lang in BaseLanguage.GetWebsiteLanguages())
                        {
                            if (lang.Language.Label != Enum_Lang.FA.ToString())
                            {
                                <fieldset lang-value="@lang.Language.Label.ToLower()">
                                    <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />
                                    <legend>@lang.Language.Label</legend>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">@lang.Language.Name</label>
                                        <div class="col-md-10">
                                            <input type="text" lang-name="Name" id="Name@(lang.Language.Label)" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="btnSubmit" type="button" value=@Resource.Lang.Register class="btn btn-success" />
                                <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>
            </div>

        </div>
    </div>

</div>
