@using DataLayer.Base;
@using DataLayer.ViewModels;
@model DataLayer.Entities.Rebate
@{
    ViewBag.Title = Resource.Lang.EditCodeDiscountInfo;
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UserId)
    <div class="col-sm-12">
        <div class="card-box">
            <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div>
                        <div class="col-md-10 col-md-offset-2">
                            <div class="row">
                                @Html.Partial("~/Views/Public/Message.cshtml", (ViewMessage)ViewBag.Message)
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(model => model.TypeId, Resource.Lang.DiscountType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("TypeId", null, htmlAttributes: new { @class = "form-control", @codeprocess = "show-part" })
                            </div>
                        </div>*@
                    <input type="hidden" name="TypeId" value="2083" />
                    <div class="form-group" show-part="2083">
                        @Html.LabelFor(model => model.ShopId, Resource.Lang.Shop, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ShopId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" show-part="2084">
                        @Html.LabelFor(model => model.ProductTypeId, Resource.Lang.TypeProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProductTypeId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" show-part="2085">
                        @Html.LabelFor(model => model.ProductCategoryId, Resource.Lang.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProductCategoryId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" show-part="2086">
                        @Html.LabelFor(model => model.ProductSubCategoryId, Resource.Lang.Subordinates, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProductSubCategoryId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group" show-part="2087">
                        @Html.LabelFor(model => model.ProductBrandId, Resource.Lang.Brand, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ProductBrandId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, Resource.Lang.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CodeValue, Resource.Lang.DiscountCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CodeValue, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IsPriceRebate, Resource.Lang.Amount + " /" + Resource.Lang.Percent + "(" + Resource.Lang.Type + ")", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control" id="IsPriceRebate" name="IsPriceRebate">
                                <option value="True">@Resource.Lang.Amount</option>
                                @if (Model.IsPriceRebate == false)
                                {
                                    <option value="False" selected="selected">@Resource.Lang.Percent</option>
                                }
                                else
                                {
                                    <option value="False">@Resource.Lang.Percent</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PercentValue, Resource.Lang.DiscountPercent, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PercentValue, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PriceValue, Resource.Lang.DiscontAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PriceValue, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MinInvoiceValue, Resource.Lang.AtLeastFactorAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MinInvoiceValue, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaxInvoiceValue, Resource.Lang.AtMostFacturAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaxInvoiceValue, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MaxRebatePrice, Resource.Lang.AtMostDiscountAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaxRebatePrice, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UseCount, Resource.Lang.CountUse, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UseCount, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDatetime, Resource.Lang.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" id="StartDatetime" name="StartDatetime" autocomplete="off" class="form-control" codeprocess="date" value="@Model.StartDatetime.ToPersian()" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDatetime, Resource.Lang.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" id="EndDatetime" name="EndDatetime" autocomplete="off" class="form-control" codeprocess="date" value="@Model.EndDatetime.ToPersian()" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Active, Resource.Lang.ActiveDeactive, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Active)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value=@Resource.Lang.Register class="btn btn-success" />
                            <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}