@using DataLayer.Base;
@using DataLayer.Enumarables;
@model DataLayer.Entities.Discount
@{
    ViewBag.Title = Resource.Lang.ShowInfo;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-sm-12">
    <div class="card-box">
        <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
        <div class="col-sm-12">
            <div class="form-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                        @Resource.Lang.DiscountGroup
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DiscountGroup.Name)
                    </dd>
                    <dt>
                       @Resource.Lang.DiscountType
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Code.Name)
                    </dd>
                    @if (Model.Code.Label == Enum_Code.DISCOUNT_TYPE_SHOP.ToString())
                    {
                        <dt>@Resource.Lang.ShopName</dt>
                        <dd>@Model.Shop.Name</dd>
                    }
                    else if (Model.Code.Label == Enum_Code.DISCOUNT_TYPE_PRODUCTTYPE.ToString())
                    {
                        <dt>@Resource.Lang.TypeProduct</dt>
                        <dd>@Html.DisplayFor(model => model.ProductType.Name)</dd>
                    }
                    else if (Model.Code.Label == Enum_Code.DISCOUNT_TYPE_PRODUCTTYPE.ToString())
                    {
                        <dt>@Resource.Lang.Category</dt>
                        <dd>@Html.DisplayFor(model => model.ProductCategory.Name)</dd>
                    }
                    else if (Model.Code.Label == Enum_Code.DISCOUNT_TYPE_SUBCATEGORY.ToString())
                    {
                        <dt>@Resource.Lang.Subordinates</dt>
                        <dd>@Html.DisplayFor(model => model.ProductSubCategory.Name)</dd>
                    }
                    else if (Model.Code.Label == Enum_Code.DISCOUNT_TYPE_PRODUCT.ToString())
                    {
                        <dt>@Resource.Lang.ProductName</dt>
                        <dd>@Html.DisplayFor(model => model.Product.Name)</dd>
                    }
                    <dt>
                       @Resource.Lang.DiscontAmount
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PriceValue)
                    </dd>
                    <dt>
                       @Resource.Lang.DiscountPercent
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PercentValue)
                    </dd>
                    <dt>
                   @Resource.Lang.StartDate
                    </dt>
                    <dd>
                        @Model.StartDatetime.ToPersian().ToPersian()
                    </dd>
                    <dt>
                        @Resource.Lang.EndDate
                    </dt>
                    <dd>
                        @Model.EndDatetime.ToPersian().ToPersian()
                    </dd>
                    <dt>
                       @Resource.Lang.ActiveDeactive
                    </dt>
                    <dd>
                        @if (Model.Active == true)
                        {
                            <span>@Resource.Lang.Active</span>
                        }
                        else
                        {
                            <span>@Resource.Lang.Deactive</span>
                        }
                    </dd>
                    <dt>
                      @Resource.Lang.Description
                    </dt>
                    <dd>
                        @Html.Raw(Model.Description)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <div>
                    <span class="btn btn-primary">@Html.ActionLink(Resource.Lang.Edit, "edit", new { id = Model.ID })</span>
                    <span class="btn btn-inverse">@Html.ActionLink(@Resource.Lang.Back, "index", new { id = Model.GroupId })</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>