@using DataLayer.Base;
@using DataLayer.Entities;
@using DataLayer.Enumarables;
@using DataLayer.ViewModels;
@model List<DataLayer.Entities.AccountOrder>
@{
    ViewBag.Title = Resource.Lang.ListOfRegisteredOrdersOnSite;
    Layout = "~/Views/Shared/Layout.cshtml";

    int[] statusId = ViewBag.StatusId_2;
    string statusString = statusId == null ? null : string.Join("-", statusId);

    string fromDatetime = ViewBag.FromDatetime;
    string toDatetime = ViewBag.ToDatetime;
    int selectedId = ViewBag.SelectedId;
    SelectList listCode = ViewBag.StatusId;
    List<int> PageSizeList = new List<int>() { 10, 20, 50, 100, 500, 5000 };
    List<Merchant> listMerchant = ViewBag.MerchantList;
    double TotalPrice = ViewBag.TotalPrice;
    var setting = BaseWebsite.WebsiteSetting;
}
@section Header {
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/pretty-checkbox/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link href="~/Assets/plugins/Highcharts-8.0.4/page-style.css" rel="stylesheet" />
}
<div>
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <form method="get" id="order-form" action="~/crm/accountorder/OrderUser">
                <div class="form-horizontal">
                    
                    <div class="devider-10"></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="date" class="control-label col-md-4">@Resource.Lang.FromDate</label>
                            <div class="col-md-8 row">
                                <input id="from" class="form-control" autocomplete="off" codeprocess="date" name="from" value="@fromDatetime" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="date" class="control-label col-md-4">@Resource.Lang.ToDate</label>
                            <div class="col-md-8 row">
                                <input id="to" class="form-control" autocomplete="off" codeprocess="date" name="to" value="@toDatetime" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8 no-padding-right">
                            <input type="submit" class="btn btn-success col-xs-12" value=@Resource.Lang.Search>
                        </div>

                    </div>
                    <div class="devider-10"></div>                    
                </div>
            </form>
            <div class="devider-15"></div>
            <div class="">
                <span>تعداد کل : </span>

                <strong>
                    @ViewBag.TotalCount
                </strong>

               
                <span>مبلغ کل : </span>
                <strong>
                    @TotalPrice.GetCurrencyFormat()

                </strong>

            </div>
            <table id="datatable-buttons" class="table  table-bordered ">
                <thead>
                    <tr>
                        <th>@Resource.Lang.FactureNumber</th>
                        <th>@Resource.Lang.Name_Family</th>
                        @if (setting.HasSendByPost)
                        {
                            <th>روش ارسال</th>
                        }
                        <th>@Resource.Lang.ProductCount</th>
                        <th>مبلغ پایه (@Resource.Lang.Toman)</th>
                        <th>@Resource.Lang.Discount (@Resource.Lang.Toman)</th>
                        <th>@Resource.Lang.TotalAmount (@Resource.Lang.Toman)</th>

                        <th>@Resource.Lang.Status</th>
                        <th>وضعیت درگاه</th>

                        <th>@Resource.Lang.Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr class="bg-lightdark">


                        <td>@item.ID.ToPersian()</td>
                        <td>@item.Account.FullName</td>
                        @if (setting.HasSendByPost)
                        {
                            <td>
                                @if (item.SendTypeStore == 1)
                                {
                                    <span>پیک مخصوص تهران</span>
                                }
                                else if (item.SendTypeStore == 2)
                                {
                                    <span>پست پیشتاز</span>
                                }
                                else if (item.SendTypeStore == 3)
                                {
                                    <span>پست سفارشی</span>
                                }
                            </td>
                        }
                        <td>@item.AccountOrderProduct.Count().ToPersian()</td>


                        <td>@item.ProductsPrice.GetCurrencyFormat().ToPersian()</td>
                        <td>@item.DiscountPrice.GetCurrencyFormat().ToPersian()</td>
                        <td>@item.Price.GetCurrencyFormat().ToPersian()</td>
                        @{
                            var credit = "";
                            if (item.IsCreditShoping == true)
                            {
                                credit = "(پرداخت اعتباری)";
                            }
                            else
                            {
                                credit = "";
                            }
                        }

                        <td>@item.Code.Name @credit</td>
                        <th>@item.PaymentProductOrder.Where(s=>s.AccountOrder.ParentId==null).FirstOrDefault().Payment.Code.Name</th>
                        <td>@item.Datetime.ToPersianWithTime().ToPersian()</td>

                    </tr>
                    }
                </tbody>

            </table>
            

            <div id="chart-content">
                <figure class="highcharts-figure">
                    <div id="container"></div>

                </figure>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>

@section Script {
    <script src="~/Assets/plugins/Highcharts-8.0.4/code/highcharts.js"></script>
    <script src="~/Assets/plugins/Highcharts-8.0.4/code/modules/data.js"></script>
    <script src="~/Assets/plugins/Highcharts-8.0.4/code/modules/drilldown.js"></script>
    <script src="~/Assets/plugins/Highcharts-8.0.4/code/modules/exporting.js"></script>
    <script src="~/Assets/plugins/Highcharts-8.0.4/code/modules/export-data.js"></script>
    <script src="~/Assets/plugins/Highcharts-8.0.4/code/modules/accessibility.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="~/Assets/plugins/Highcharts-8.0.4/chart-model.js"></script>
    <script type="text/javascript">

    </script>
}