<div class="from-group">
    <input type="text" data-bind="value: viewModel.Account.FullName" class="form-control" placeholder="@Resource.Lang.EnterFullName">
</div>
<div class="from-group">
    <input type="text" data-bind="value:viewModel.Account.Mobile" class="form-control" placeholder="@Resource.Lang.EnterMobileNo">
</div>
<div class="from-group">
    <input type="email" data-bind="value: viewModel.Account.Email" class="form-control d-none" placeholder="@Resource.Lang.EnterEmail">
</div>
<div class="from-group">
    <input type="password" data-bind="value:viewModel.Account.Password" class="form-control" placeholder="@Resource.Lang.EnterPassword">
</div>
<div class="from-group">
    <input type="password" class="form-control" data-bind="value:viewModel.Account.ConfirmPassword" codeprocess-field="account-confirm" placeholder="@Resource.Lang.RePassword">
</div>
