﻿@using DataLayer.Base;
@model IEnumerable<DataLayer.ViewModels.ViewAccount>

@{
    ViewBag.Title = Resource.Lang.ListOfRegisteredUsers;
    Layout = "~/Views/Shared/Layout.cshtml";
    string index = ViewBag.PageIndex;
    string pageSize = ViewBag.PageSize;
    string fullName = ViewBag.fullName;
    int TotalCount = ViewBag.TotalCount;
    int CurrentIndex = index.IsInteger() ? index.GetInteger() : 1;
    int PageSize = pageSize.IsInteger() ? pageSize.GetInteger() : 10;
    int StartIndex = CurrentIndex > 4 ? CurrentIndex - 4 : 1;
    int EndIndex = (TotalCount / PageSize);
    int Mod = (TotalCount % PageSize);
    EndIndex = Mod > 0 ? EndIndex + 1 : EndIndex;
    string fromDatetime = ViewBag.FromDatetime;
    string toDatetime = ViewBag.ToDatetime;
}
@section Footer {
    @Html.Action("TableScript", "Layout", new { area = "" })
}
@section Script {
    @*<script type="text/javascript">
            TableManageButtons.init();
        </script>*@
}
<div>
    <form method="get" id="account-form" action="~/crm/account">
        <div class="list_search row card-box m-0">
            <div class="form-group mb-0 col-md-3">
                <label for="orderid" class="control-labe">@Resource.Lang.FullName</label>
                <input id="fullName" name="fullName" class="form-control" value="@fullName" />
            </div>
            <div class="form-group mb-0 col-md-3">
                <label for="date" class="control-label">@Resource.Lang.FromDate</label>

                <input id="from" class="form-control" autocomplete="off" codeprocess="date" name="fromDate" value="@fromDatetime" />
            </div>
            <div class="form-group mb-0 col-md-3">
                <label for="date" class="control-label">@Resource.Lang.ToDate</label>

                <input id="to" class="form-control" autocomplete="off" codeprocess="date" name="toDate" value="@toDatetime" />

            </div>
            <div class="form-group mb-0 col-md-2">
                <input type="submit" class="btn btn-success col-xs-12" value=@Resource.Lang.Search>
            </div>
        </div>
    </form>

    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <a href="@Url.Action("create")" class="icon circle-icon glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.AddNewCase></a>
            <div class="">
                <span>تعداد کل : </span>

                <strong>
                    @ViewBag.TotalCount
                </strong>
            </div>
            <table id="datatable-buttons" class="table table-striped table-bordered has-first">
                <thead>
                    <tr>
                        <th class="first">#</th>
                        <th>@Resource.Lang.Name_Family</th>
                        @if (BaseWebsite.WebsiteSetting.HasUserName)
                        {
                            <th>@Resource.Lang.UserName</th>

                        }
                        <th>@Resource.Lang.Email</th>
                        <th>@Resource.Lang.State</th>

                        <th>@Resource.Lang.City</th>

                        <th>@Resource.Lang.Mobile</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                        @if (BaseWebsite.WebsiteSetting.HasUserName)
                        {
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>
                            @if (item.State != null)
                            {
                                <span>@item.State.Name</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td>
                            @if (item.City != null)
                            {
                                <span>@item.City.Name</span>
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        @*<td>@Html.DisplayFor(modelItem => item.Email)</td>*@

                        <td>@item.Mobile.ToPersian()</td>
                        <td>
                            @Html.ActionLink(Resource.Lang.Edit, "edit", new { id = item.Id }) |
                            @Html.ActionLink(Resource.Lang.ChangePassword, "password", new { id = item.Id }) |
                            @Html.ActionLink(Resource.Lang.Detail, "details", new { id = item.Id }) |
                            @Html.ActionLink("کارنامه", "UploadFile", new { id = item.Id })

                            @*@Html.ActionLink(Resource.Lang.Delete, "delete", new { id = item.Id })*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex">

            </div>
            <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">


                <ul class="pagination">
                    <li class="paginate_button previous" aria-controls="datatable-buttons">
                        <a href="@Url.Action("index", new {
                            @fullName = fullName,
                             @fromDate = fromDatetime,
                                      @toDate = toDatetime,
                            @pageIndex = 1,
                            @pageSize = pageSize

                        })">@Resource.Lang.FirstPage</a>
                    </li>
                    @for (int i = StartIndex; i <= EndIndex && i <= CurrentIndex + 4; i++)
                    {
                        var active = CurrentIndex == i ? "active" : "";
                        <li class="paginate_button @active" aria-controls="datatable-buttons">
                            <a href="@Url.Action("index", new {
                                    @fullName = fullName,
                                     @fromDate = fromDatetime,
                                      @toDate = toDatetime,
                                    @pageIndex = i,
                                    @pageSize = pageSize
                            })">@(i.ToPersian())</a>
                        </li>
                    }
                    @if (CurrentIndex < EndIndex)
                    {
                        <li class="paginate_button previous" aria-controls="datatable-buttons">
                            <a href="@Url.Action("index", new
                                    {
                                    @fullName = fullName,
                                     @fromDate = fromDatetime,
                                      @toDate = toDatetime,
                                    @pageIndex = EndIndex,
                                    @pageSize = pageSize
                            })">@Resource.Lang.LastPage</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button previous disabled" aria-controls="datatable-buttons">
                            <a href="#">@Resource.Lang.LastPage</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
