@using DataLayer.Base;
@model DataLayer.Entities.Product
@{
    ViewBag.Title = Resource.Lang.RemoveInfo;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-sm-12">
    <div class="card-box">
        <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title= @Resource.Lang.Back></a>
        <div class="col-sm-12">
            <div class="form-horizontal">
                <h3>@Resource.Lang.SureDelete</h3>
                <dl class="dl-horizontal">
                    <dt>
                      @Resource.Lang.ShopName
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Shop.Name)
                    </dd>
                    <dt>
                      @Resource.Lang.TypeProduct
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProductType.Name)
                    </dd>
                    <dt>
                        @Resource.Lang.CategoryName
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProductCategory.Name)
                    </dd>
                    <dt class="display-none">
                       @Resource.Lang.Subordinates
                    </dt>
                    <dd class="display-none">
                        @Html.DisplayFor(model => model.ProductSubCategory.Name)
                    </dd>
                    <dt class="display-none">
                     @Resource.Lang.BrandName
                    </dt>
                    <dd class="display-none">
                        @Html.DisplayFor(model => model.ProductBrand.Name)
                    </dd>
                    <dt>
                        @Resource.Lang.ProductName
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="display-none">
                      @Resource.Lang.Summery
                    </dt>
                    <dd class="display-none">
                        @Html.DisplayFor(model => model.Summary)
                    </dd>
                    <dt>
                       @Resource.Lang.PriorityShow
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ShowNumber)
                    </dd>
                    <dt>
                     @Resource.Lang.CountObservation   
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.VisitCount)
                    </dd>
                    <dt>
                       @Resource.Lang.FirstPage
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ShowHomePage)
                    </dd>
                    <dt>
                        @Resource.Lang.DateTimeUpdate
                    </dt>
                    <dd>
                        @Model.UpdateDatetime.ToPersianComplete()
                    </dd>
                    <dt>
                        @Resource.Lang.Status
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Code.Name)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value= @Resource.Lang.Delete class="btn btn-danger" />
                        <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>