@using DataLayer.Base;
@using DataLayer.Entities;
@model IEnumerable<DataLayer.Entities.Product>
@{
    ViewBag.Title = Resource.Lang.ListOfProductsRegisteredOnSite;
    Layout = "~/Views/Shared/Layout.cshtml";
    var setting = BaseWebsite.WebsiteSetting;
    string index = BaseRouteView.GetStringValue(Request, "index");
    string brandId = BaseRouteView.GetStringValue(Request, "brandId");
    string shopId = BaseRouteView.GetStringValue(Request, "shopId");
    string typeId = BaseRouteView.GetStringValue(Request, "typeId");
    string categoryId = BaseRouteView.GetStringValue(Request, "categoryId");
    string subcategoryId = BaseRouteView.GetStringValue(Request, "subCategoryId");
    string pageSize = BaseRouteView.GetStringValue(Request, "pageSize");
    string name = BaseRouteView.GetStringValue(Request, "name");
    string active = BaseRouteView.GetStringValue(Request, "active");
    string Id = BaseRouteView.GetStringValue(Request, "Id");
    string isSpecialProduct = BaseRouteView.GetStringValue(Request, "isSpecialProduct");


    int TotalCount = ViewBag.TotalCount;
    int CurrentIndex = index.IsInteger() ? index.GetInteger() : 1;
    int PageSize = pageSize.IsInteger() ? pageSize.GetInteger() : 10;
    int StartIndex = CurrentIndex > 4 ? CurrentIndex - 4 : 1;
    int EndIndex = (TotalCount / PageSize);
    int Mod = (TotalCount % PageSize);
    EndIndex = Mod > 0 ? EndIndex + 1 : EndIndex;
}
@section Script {
    <script type="text/javascript">
        initializeNewProductScript();
    </script>
}
@using (Html.BeginForm())
{
    <input type="hidden" id="isTypeSelected" value="False" />
    <input type="hidden" id="LastProductTypeId" value="@typeId" />
    <input type="hidden" id="LastProductCategoryId" value="@categoryId" />
    <input type="hidden" id="LastProductSubCateogryId" value="@subcategoryId" />
    <input type="hidden" id="LastBrandId" value="@brandId" />
    <div>
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <a onclick="document.forms[1].submit(); return false;" class="icon circle-icon glyphicon glyphicon-search" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Search></a>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-sm-2">
                        <span class="control-label font-bold">@Resource.Lang.Shop</span>
                        <div>
                            <select id="ShopId" name="shopId" class="form-control">
                                <option value="0">@Resource.Lang.All</option>
                            </select>
                            @*@Html.DropDownList("ShopId", null, htmlAttributes: new { @class = "form-control", @name = "shopId" })*@
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span class="control-label font-bold">@Resource.Lang.TypeProduct</span>
                        <div>
                            <select id="ProductTypeId" name="typeid" class="form-control">
                                <option value="0">@Resource.Lang.Choice</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span class="control-label font-bold">@Resource.Lang.Category</span>
                        <div>
                            <select id="ProductCategoryId" name="categoryId" class="form-control">
                                <option value="0">@Resource.Lang.Choice</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span class="control-label font-bold">@Resource.Lang.Subordinates</span>
                        <div>
                            <select id="ProductSubCategoryId" name="subcategoryId" class="form-control">
                                <option value="0">@Resource.Lang.Choice</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span class="control-label font-bold">@Resource.Lang.Name</span>
                        <div>
                            <input type="text" class="form-control" name="name" placeholder=@Resource.Lang.Name value="@name" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span class="control-label font-bold">@Resource.Lang.ID</span>
                        <div>
                            <input type="text" class="form-control" name="Id" placeholder=@Resource.Lang.ID value="@Id" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span class="control-label font-bold">@Resource.Lang.Status</span>
                        <div>
                            <select id="active" name="active" class="form-control">
                                <option @(active == "true" ? "selected" : "") value="true">@Resource.Lang.Active</option>
                                <option @(active == "false" ? "selected" : "") value="false">@Resource.Lang.Deactive</option>
                                <option @(active != "false" && active != "true" ? "selected" : "") value="all">@Resource.Lang.SelectAll</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span class="control-label font-bold">محصولات در پیشنهاد ویژه</span>
                        <div>
                            <select id="isSpecialProduct" name="isSpecialProduct" class="form-control">
                                <option @(isSpecialProduct == "null" ? "selected" : "") value="null">انتخاب</option>
                                <option @(isSpecialProduct == "true" ? "selected" : "") value="true">نمایش محصولات پلاس و پیشنهاد ویژه</option>
                            </select>
                        </div>
                    </div>
                    <div class="devider-15"></div>
                </div>
                <table id="datatable-buttons" class="table table-striped table-bordered has-first">
                    <thead>
                        <tr>
                            <th>@Resource.Lang.ID</th>
                            <th>@Resource.Lang.ProductName</th>
                            <th>@Resource.Lang.Stock</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>

                                <td>
                                    @{
                                        List<ProductQuantity> listQuantity = item.ProductQuantity.ToList();
                                        bool hasColor = listQuantity.Any(p => p.ColorId != null);
                                        bool hasSize = listQuantity.Any(p => p.SizeId != null);
                                        string productOptionName = null;
                                    }
                                    <table id="datatable-buttons" class="table table-striped table-bordered has-first">
                                        <thead>
                                            <tr>
                                                <th>@Resource.Lang.Color</th>
                                                <th>@Resource.Lang.Size</th>
                                                <th>@( productOptionName=="" || productOptionName==null? "گزینه خرید": productOptionName)</th>
                                                <th>@Resource.Lang.Price</th>
                                                <th>@Resource.Lang.Count</th>
                                                <th>@Resource.Lang.StoreName</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < listQuantity.Count; i++)
                                            {
                                                ProductQuantity quantity = listQuantity[i];
                                                foreach (var itemstore in quantity.StoreProductQuantity.ToList())
                                                {
                                                    <tr>
                                                        <td>


                                                            @if (hasColor)
                                                            {
                                                                if (itemstore.ProductQuantity.ColorId != null)
                                                                {
                                                                    <span>@itemstore.ProductQuantity.Color.Name</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>-</span>
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (hasSize)
                                                            {
                                                                if (itemstore.ProductQuantity.SizeId != null)
                                                                {
                                                                    <span>@itemstore.ProductQuantity.Size.Name</span>
                                                                }
                                                                else
                                                                {
                                                                    <span></span>
                                                                }
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (!string.IsNullOrEmpty(productOptionName))
                                                            {
                                                                if (itemstore.ProductQuantity.OptionItemId != null)
                                                                {
                                                                    <span>@itemstore.ProductQuantity.ProductOptionItem.Value</span>
                                                                }
                                                                else
                                                                {
                                                                    <span></span>
                                                                }
                                                            }
                                                        </td>

                                                        <td><span class="count text-center">@itemstore.Price</span></td>
                                                        <td><span class="count text-center">@itemstore.Count</span></td>
                                                        <td><span>@itemstore.StoreProduct.Store.Name</span></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>

                                    </table>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
                <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                    <ul class="pagination">
                        @if (StartIndex > 1)
                        {
                            <li class="paginate_button previous" aria-controls="datatable-buttons">
                                <a href="@Url.Action("index", new {
                                        shopId = shopId,
                                        typeId = typeId,
                                        categoryId = categoryId,
                                        subcategoryId = subcategoryId,
                                        brandId = brandId,
                                        name = name,
                                        index = 1,
                                       active=active,
                                       Id=Id,

                                    })">@Resource.Lang.FirstPage</a>
                                </li>
                            }
                            else
                            {
                                <li class="paginate_button previous disabled" aria-controls="datatable-buttons">
                                    <a href="#">@Resource.Lang.FirstPage</a>
                                </li>
                            }
                        @for (int i = StartIndex; i <= EndIndex && i <= CurrentIndex + 4; i++)
                        {
                            var activeIndex = CurrentIndex == i ? "active" : "";
                            <li class="paginate_button @activeIndex" aria-controls="datatable-buttons">
                                <a href="@Url.Action("index", new {
                                        shopId = shopId,
                                        typeId = typeId,
                                        categoryId = categoryId,
                                        subcategoryId = subcategoryId,
                                        brandId = brandId,
                                        name = name,
                                        index = i,
                                        active=active,
                                          Id=Id,
                                    })">@(i.ToPersian())</a>
                            </li>
                        }
                        @if (CurrentIndex < EndIndex)
                        {
                            <li class="paginate_button previous" aria-controls="datatable-buttons">
                                <a href="@Url.Action("index", new
                                    {
                                        shopId = shopId,
                                        typeId = typeId,
                                        categoryId = categoryId,
                                        subcategoryId = subcategoryId,
                                        brandId = brandId,
                                        name = name,
                                        index = EndIndex,
                                        active=active,
                                          Id=Id,
                                    })">@Resource.Lang.LastPage</a>
                                </li>
                            }
                            else
                            {
                                <li class="paginate_button previous disabled" aria-controls="datatable-buttons">
                                    <a href="#">@Resource.Lang.LastPage</a>
                                </li>
                            }
                    </ul>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
}