@model DataLayer.Entities.ShopContact
@{
    ViewBag.Title = @Resource.Lang.ShowContactList ;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-sm-12">
    <div class="card-box">
        <a href="@Url.Action("index", new { @id = ViewBag.ShopId })" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=   @Resource.Lang.Back></a>
        <div class="col-sm-12">
            <div class="form-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                       @Resource.Lang.Shops
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Shop.Name)
                    </dd>
                    <dt>
                        @Resource.Lang.Type
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Code.Name)
                    </dd>
                    <dt>
                        @Resource.Lang.Amount
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Value)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <div>
                    <span class="btn btn-primary">@Html.ActionLink(Resource.Lang.Edit, "edit", new { id = Model.ID })</span>
                    <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index", new { @id = ViewBag.ShopId })</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>