@using DataLayer.Base;
@using DataLayer.Entities;
@using DataLayer.Enumarables;
@using DataLayer.ViewModels;
@model DataLayer.Entities.QuestionSmartOffer
@{
    ViewBag.Title = Resource.Lang.Edit;
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Header {
    <link rel="stylesheet" type="text/css" href="/Assets/plugins/fileuploads/css/dropify.min.css" />
}

@section Script {
    <script src="/panel/assets/plugins/tinymce/tinymce.min.js"></script>
    <script src="/assets/plugins/fileuploads/js/dropify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initializeQuestionSmartOffer();
        });
    </script>
}

<div codeprocess-ajax-form="/store/QuestionSmartOffer/edit" codeprocess-back-form="/store/QuestionSmartOffer">
    @Html.HiddenFor(model => model.ID)

    <div class="col-sm-12">
        <div class="card-box">
            <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <div class="col-sm-6 no-padding-right">
                        <div>
                            <div class="col-md-10 col-md-offset-2">
                                <div class="row">
                                    @Html.Partial("~/Views/Public/Message.cshtml", (ViewMessage)ViewBag.Message)
                                </div>
                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.Text, Resource.Lang.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShowNumber, Resource.Lang.PriorityShow, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ShowNumber, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.ShowNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, Resource.Lang.Active, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @foreach (WebsiteLanguage lang in BaseLanguage.GetWebsiteLanguages())
                        {
                            if (lang.Language.Label != Enum_Lang.FA.ToString())
                            {
                                QuestionSmartOfferLanguage typeLanguage = Model.QuestionSmartOfferLanguage.FirstOrDefault(p => p.LanguageId == lang.LanguageId);

                                <fieldset lang-value="@lang.Language.Label.ToLower()" class="ltr-fieldset">
                                    <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />
                                    <legend>@lang.Language.Label</legend>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">@Resource.Lang.Text</label>
                                        <div class="col-md-10">
                                            <input type="text" lang-name="Text" id="Text@(lang.Language.Label)" class="form-control" autocomplete="off" value="@(typeLanguage != null ? typeLanguage.Text : "")" />
                                        </div>
                                    </div>
                                </fieldset>

                            }
                        }

                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11">
                            <input type="submit" value="ذخیره" class="btn btn-success" id="btnSubmit" />
                            <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
