@using DataLayer.Base;
@model DataLayer.Entities.EmailInbox
@{
    ViewBag.Title = "Item";
    Layout = "~/Areas/Email/Views/Shared/Layout.cshtml";
}

<div id="message">
    <div class="header">
        <h1 class="page-title">
            <a href="@Request.UrlReferrer.AbsolutePath" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title="بازگشت"></a>
            <a href="/email/inbox/print/@Model.ID" class="icon circle-icon glyphicon glyphicon-print no-margin-left" data-toggle="tooltip" data-placement="bottom" title="چاپ"></a>
            <a class="icon circle-icon glyphicon glyphicon-ban-circle no-margin-left" data-toggle="tooltip" data-placement="bottom" title="بلاک"></a>
            @Model.Subject
        </h1>
        <p>
            ارسال شده از @Model.FromEmail به شما در تاریخ @Model.EmailDatetime.ToPersian().ToPersian() و ساعت @Model.EmailDatetime.Value.ToShortTimeString().ToPersian()
        </p>
    </div>
    <div id="message-nano-wrapper" class="nano">
        <div class="nano-content">
            <ul class="message-container list-unstyled">
                <li class="sent">
                    <div class="details">
                        <div class="left">
                            شما
                            <div class="arrow"></div>
                            @Model.FromDisplayName
                        </div>
                        <div class="right ltr-direction">@Model.EmailDatetime.ToPersianComplete()</div>
                    </div>
                    <div class="message">
                        <p>
                            @Html.Raw(Model.BodyHtml)
                        </p>
                    </div>
                    <div class="tool-box">
                        <a href="#" class="circle-icon small glyphicon glyphicon-share-alt"></a>
                        <a href="#" class="circle-icon small red-hover glyphicon glyphicon-remove"></a>
                        <a href="#" class="circle-icon small red-hover glyphicon glyphicon-flag"></a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
