@using DataLayer.Base;
@model IEnumerable<DataLayer.Entities.CreditShoping>
@{
    ViewBag.Title ="خرید اعتباری";
    Layout = "~/Views/Shared/Layout.cshtml";
    string index = ViewBag.PageIndex;
    string pageSize = ViewBag.PageSize;
    bool? active = ViewBag.active;
    int TotalCount = ViewBag.TotalCount;
    int CurrentIndex = index.IsInteger() ? index.GetInteger() : 1;
    int PageSize = pageSize.IsInteger() ? pageSize.GetInteger() : 10;
    int StartIndex = CurrentIndex > 4 ? CurrentIndex - 4 : 1;
    int EndIndex = (TotalCount / PageSize);
    int Mod = (TotalCount % PageSize);
    EndIndex = Mod > 0 ? EndIndex + 1 : EndIndex;
}
@section Footer {
    @Html.Action("TableScript", "Layout", new { area = "" })
}
@section Script {

}
<div>
    <form method="get" id="account-form" action="~/crm/creditShoping">
        <div class="list_search row card-box m-0">
            <div class="form-group mb-0 col-md-3">
                <label for="orderid" class="control-labe">وضعیت</label>
                
                <select id="active" name="active" class="form-control" value="@active">

                    @if (active == true)
                    {
                        <option value="True" selected="selected">
                            تایید شده
                        </option>

                    }
                    else
                    {
                        <option value="True">
                            تایید شده
                        </option>
                    }
                    @if (active == false)
                    {
                        <option value="False" selected="selected">
                            رد شده/ بررسی نشده
                        </option>

                    }
                    else
                    {
                        <option value="False">
                            رد شده/ بررسی نشده
                        </option>
                    }

                </select>
            </div>
            <div class="form-group mb-0 col-md-2">
                <input type="submit" class="btn btn-success col-xs-12" value=@Resource.Lang.Search>
            </div>
        </div>
    </form>
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <div class="">
                <span>تعداد کل : </span>

                <strong>
                    @ViewBag.TotalCount
                </strong>
            </div>
            <table id="datatable-buttons" class="table table-striped table-bordered has-first">
                <thead>
                    <tr>
                        <th class="first">#</th>
                        <th>@Resource.Lang.FullName</th>
                        <th>@Resource.Lang.Mobile</th>

                        <th>@Resource.Lang.Email</th>
                        <th>تاریخ ثبت</th>
                        <th>تاریخ تایید </th>

                        <th>@Resource.Lang.Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.ID)</td>
                            <td>@item.FullName </td>
                            <td>@item.Mobile </td>
                            <td>@item.Email </td>
                            <td>@item.CreateDate.ToPersian()</td>
                            <td>@item.ActiveDate.ToPersian()</td>
                            <td>
                                @if (item.Active == true)
                                {
                                    <span>@Resource.Lang.Active</span>
                                }
                                else
                                {
                                    <span>@Resource.Lang.Deactive</span>
                                }

                            </td>
                            <td>
                                @Html.ActionLink(Resource.Lang.Check, "edit", new { id = item.ID })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">


                <ul class="pagination">
                    <li class="paginate_button previous" aria-controls="datatable-buttons">
                        <a href="@Url.Action("index", new {
                            @approved = active,

                            @pageIndex = 1,
                            @pageSize = pageSize

                        })">@Resource.Lang.FirstPage</a>
                    </li>
                    @for (int i = StartIndex; i <= EndIndex && i <= CurrentIndex + 4; i++)
                    {
                        var activeC = CurrentIndex == i ? "active" : "";
                        <li class="paginate_button @activeC" aria-controls="datatable-buttons">
                            <a href="@Url.Action("index", new {
                                    @active = active,

                                    @pageIndex = i,
                                    @pageSize = pageSize
                            })">@(i.ToPersian())</a>
                        </li>
                    }
                    @if (CurrentIndex < EndIndex)
                    {
                        <li class="paginate_button previous" aria-controls="datatable-buttons">
                            <a href="@Url.Action("index", new
                                    {
                                    @active = active,

                                    @pageIndex = EndIndex,
                                    @pageSize = pageSize
                            })">@Resource.Lang.LastPage</a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button previous disabled" aria-controls="datatable-buttons">
                            <a href="#">@Resource.Lang.LastPage</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- end col -->
</div>
