@model DataLayer.Entities.Shop
@{
    ViewBag.Title = Resource.Lang.ShowInfo;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-sm-12">
    <div class="card-box">
        <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
        <div class="col-sm-12">
            <div class="form-horizontal">
                <dl class="dl-horizontal">
                    <dt>
                       @Resource.Lang.ShopName
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                       @Resource.Lang.Lable
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Label)
                    </dd>
                    <dt>
                      @Resource.Lang.WebSite
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Website.Title)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                <div>
                    <span class="btn btn-primary">@Html.ActionLink(Resource.Lang.Edit, "edit", new { id = Model.ID })</span>
                    <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>