@using DataLayer.Base;
@using DataLayer.Entities;
@model IEnumerable<StoreProduct>
@{
    ViewBag.Title = Resource.Lang.StoreRequestedProducts;
    Layout = "~/Views/Shared/Layout.cshtml";
    string index = BaseRouteView.GetStringValue(Request, "index");
    string statusId = BaseRouteView.GetStringValue(Request, "statusId");
    string storeId = BaseRouteView.GetStringValue(Request, "storeId");
    string pageSize = BaseRouteView.GetStringValue(Request, "pageSize");
    string name = BaseRouteView.GetStringValue(Request, "name");

    SelectList listCode = ViewBag.Statuses;
    SelectList listStore = ViewBag.Stores;
    int TotalCount = ViewBag.TotalCount;
    int CurrentIndex = index.IsInteger() ? index.GetInteger() : 1;
    int PageSize = pageSize.IsInteger() ? pageSize.GetInteger() : 10;
    int StartIndex = CurrentIndex > 4 ? CurrentIndex - 4 : 1;
    int EndIndex = (TotalCount / PageSize);
    int Mod = (TotalCount % PageSize);
    EndIndex = Mod > 0 ? EndIndex + 1 : EndIndex;
}
@section Script {
    <script type="text/javascript">
        initializeStoreProductScript();

/**/</script>
}
@using (Html.BeginForm())
{
    <div>
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                @*<a href="@Url.Action("create")" class="icon circle-icon glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.AddNewCase></a>*@
                <a onclick="document.forms[1].submit(); return false;" class="icon circle-icon glyphicon glyphicon-search" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Search></a>
                <div class="clear"></div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="date" class="control-label col-md-4">@Resource.Lang.Store</label>
                            <div class="col-md-8 row">
                                <select id="storeId" class="form-control" autocomplete="off" name="storeId">
                                    <option value="">
                                        @Resource.Lang.All
                                    </option>
                                    @foreach (var item in listStore)
                                    {
                                        <option value="@item.Value" @(item.Value == storeId ? "selected" : "")>
                                            @item.Text
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="date" class="control-label col-md-4">@Resource.Lang.ProductName</label>

                        <div class="col-md-8 row">
                            <input type="text" class="form-control" name="name" placeholder=@Resource.Lang.Name value="@name" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="date" class="control-label col-md-4">@Resource.Lang.Status</label>
                            <div class="col-md-8 row">
                                <select id="statusId" class="form-control" autocomplete="off" name="statusId">
                                    <option value="">
                                        @Resource.Lang.All
                                    </option>
                                    @foreach (var item in listCode)
                                    {
                                        <option value="@item.Value" @(item.Value == statusId ? "selected" : "")>
                                            @item.Text
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="devider-15"></div>
                </div>
                <table id="datatable-buttons" class="table table-striped table-bordered has-first">
                    <thead>
                        <tr>
                            <th>@Resource.Lang.ID</th>
                            <th>@Resource.Lang.ProductName</th>
                            <th>@Resource.Lang.CategoryInfo</th>
                            <th>@Resource.Lang.Store</th>
                            <th>@Resource.Lang.Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="tr-column">
                                <td class="td-store-productid" store-productid="@item.ID">@Html.DisplayFor(modelItem => item.ID)</td>
                                <td class="td-product-name" product-name="@item.Product.Name">@Html.DisplayFor(modelItem => item.Product.Name)</td>
                                <td>
                                    @(item.Product.ProductTypeId.HasValue ? item.Product.ProductType.Name : "") - @(item.Product.ProductCategoryId.HasValue ? item.Product.ProductCategory.Name : "")  - @(item.Product.ProductSubCategoryId.HasValue ? item.Product.ProductSubCategory.Name : "")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Store.Name)
                                </td>
                                <td class="td-statusid" statusid="@item.Code.ID">@Html.DisplayFor(modelItem => item.Code.Name)</td>
                                <td>
                                    <a class="change-status" href="javascript://">@Resource.Lang.ChangeStatus</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                    <ul class="pagination">
                        @if (StartIndex > 1)
                        {
                            <li class="paginate_button previous" aria-controls="datatable-buttons">
                                <a href="@Url.Action("index", new {
                                        statusId=statusId,
                                        storeId=storeId,
                                        name = name,
                                        index = 1
                                    })">@Resource.Lang.FirstPage</a>
                                </li>
                            }
                            else
                            {
                                <li class="paginate_button previous disabled" aria-controls="datatable-buttons">
                                    <a href="#">@Resource.Lang.FirstPage</a>
                                </li>
                            }
                        @for (int i = StartIndex; i <= EndIndex && i <= CurrentIndex + 4; i++)
                        {
                            var activeIndex = CurrentIndex == i ? "active" : "";
                            <li class="paginate_button @activeIndex" aria-controls="datatable-buttons">
                                <a href="@Url.Action("index", new {
                                        statusId=statusId,
                                        storeId=storeId,
                                        name = name,
                                        index = i
                                    })">@(i.ToPersian())</a>
                                </li>
                            }
                        @if (CurrentIndex < EndIndex)
                        {
                            <li class="paginate_button previous" aria-controls="datatable-buttons">
                                <a href="@Url.Action("index", new
                                    {
                                        statusId=statusId,
                                        storeId=storeId,
                                        name = name,
                                        index = EndIndex
                                    })">@Resource.Lang.LastPage</a>
                                </li>
                            }
                            else
                            {
                                <li class="paginate_button previous disabled" aria-controls="datatable-buttons">
                                    <a href="#">@Resource.Lang.LastPage</a>
                                </li>
                            }
                    </ul>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
}

<div id="modal-change-status" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalTitle">@Resource.Lang.ChangeStatus</h4>
            </div>
            <div class="modal-body">
                <h3 class="product-name"></h3>
                <input type="hidden" class="store-productid" />
                <div class="row">
                    <div class="form-group">
                        <label for="date" class="control-label col-md-4">@Resource.Lang.Status</label>
                        <div class="col-md-8 row">
                            <select id="statusId" class="form-control statusId" autocomplete="off" name="statusId">

                                @foreach (var item in listCode)
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer d-flex">
                <button type="button" class="btn btn-default  flex-fill m-3" data-dismiss="modal">@Resource.Lang.Cancel</button>
                <a class="btn btn-primary flex-fill m-3 btn-submit">@Resource.Lang.Submit</a>
            </div>
        </div>
    </div>
</div>
