@using DataLayer.Base;
@using DataLayer.Entities;
@using DataLayer.Enumarables;
@model DataLayer.Entities.ProductSubCategory

@{
    ViewBag.Title = Resource.Lang.RegisterSubordinateNewProduct;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div codeprocess-ajax-form="/store/productsubcategory/create" codeprocess-back-form="/store/productsubcategory">
    @Html.HiddenFor(model => model.UpdateDatetime)
    @Html.HiddenFor(model => model.SyncDatetime)
    <div class="col-sm-12">
        <div class="card-box">
            <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div class="col-sm-12 no-padding">
                        <fieldset>
                            <legend>@Resource.Lang.ProductSubCategory</legend>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryId, Resource.Lang.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control"})
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, Resource.Lang.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, Resource.Lang.Summery, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Body, "Body", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @codeprocess = "editor" } })
                                </div>
                            </div>
                            @if (BaseWebsite.WebsiteSetting.HasActive)
                            {

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Active, "وضعیت نمایش", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Active)
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Canonical, "Canonical", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Canonical, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoIndex, "NoIndex", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NoIndex)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoFollow, "NoFollow", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NoFollow)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Priority, Resource.Lang.DisplayPriority, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="font-bold">
                                    اولویت های ثبت شده
                                </div>
                                <div class="col-lg-12">
                                    <div id="divprority"></div>
                                    @*@Html.Partial("~/Areas/store/Views/ProductSubCategory/PriorityList.cshtml")*@
                                    @*@Html.Action("PriorityList", "ProductSubCategory", new { categoryId = Model.CategoryId })*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">افزودن تگ</label>
                                <div class="col-md-10">
                                    <div id="divTag" class="d-flex">
                                        <input type="text" id="tagText" class="form-control text-box single-line">
                                        <button onclick="SubmitTage()" class="btn btn-success">ثبت</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="font-bold">
                                    لیست تگ ها
                                </div>
                                <div class="col-lg-12">
                                    <div id="divAllTag"></div>

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.H1, "H1", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.H1, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Schema, "Schema", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <textarea rows="5" cols="60" id="Schema" name="Schema"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, Resource.Lang.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2"> @Resource.Lang.Menu</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomLabel, @Resource.Lang.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CustomLabel, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            @foreach (WebsiteLanguage lang in BaseLanguage.GetWebsiteLanguages())
                            {
                                if (lang.Language.Label != Enum_Lang.FA.ToString())
                                {
                                    <fieldset lang-value="@lang.Language.Label.ToLower()">
                                        <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />
                                        <legend>@lang.Language.Label</legend>
                                        <div class="form-group">

                                            <label class="control-label col-md-2">@Resource.Lang.Name (@lang.Language.Name)</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="Name" id="Name@(lang.Language.Label)" class="form-control" autocomplete="off" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">@Resource.Lang.Summery</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="description" id="description@(lang.Language.Label)" class="form-control" autocomplete="off" autofocus="autofocus" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">body</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="body" id="body@(lang.Language.Label)" codeprocess="editor" class="form-control" autocomplete="off" autofocus="autofocus" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">@Resource.Lang.Menu</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="Url" id="Url@(lang.Language.Label)" class="form-control" autocomplete="off" autofocus="autofocus" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">H1</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="H1" id="H@(lang.Language.Label)" class="form-control" autocomplete="off" autofocus="autofocus" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">@Resource.Lang.Title</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="Title" id="Title@(lang.Language.Label)" class="form-control" autocomplete="off" autofocus="autofocus" />
                                            </div>
                                        </div>



                                    </fieldset>
                                }
                            }
                        </fieldset>

                        <div class="col-sm-6 no-padding-left">
                            <div class="row">
                                <div class="col-sm-8">
                                    <fieldset>
                                        <legend>@Resource.Lang.Image</legend>
                                        <input id="uplFile" type="file" class="dropify" name="file" codeprocess="upload" data-height="230" />
                                    </fieldset>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="devider-15"></div>
                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <input id="btnSubmit" type="submit" value=@Resource.Lang.Register class="btn btn-success" />
                            <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Header {
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/fileuploads/css/dropify.min.css" />
}

@section Script {
    <script src="~/assets/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>s
    <script type="text/javascript">
        $(document).ready(function () {
            UpdateTagSubcategory(null);
           $("#CategoryId").change();
           initializeProductSubCategoryScript();
        });
    </script>
}

