@using DataLayer.ViewModels;
@using DataLayer.Base;

@{
    ViewAccount CurrentAccount = BaseWebsite.CurrentAccount;
    ViewShopWebsiteSetting ShopWebsiteSetting = BaseWebsite.WebsiteSetting;
}
 

<footer>
    <div class="container">
        <div class="FooterRow1">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-5">
                    <div class="FooterComplaintTitle">
                        <span>عضویت در خبر نامه</span>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-7">
                    <div class="FooterComplainInput">
                        <div class="serachBox">
                            <div class="searchForm mb-0">
                                <input class="form-control" type="search" placeholder="@Resource.Lang.EnterEmail" data-bind="value:viewModel.NewsLetter.Email" name="newsletterEmail">
                                <button class="btn searchBtn" type="submit" Codeprocess-action="newsletter-add">
                                    @Resource.Lang.Register
                                    <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.439341 10.9393C-0.146446 11.5251 -0.146446 12.4749 0.439341 13.0607L9.98528 22.6066C10.5711 23.1924 11.5208 23.1924 12.1066 22.6066C12.6924 22.0208 12.6924 21.0711 12.1066 20.4853L3.62132 12L12.1066 3.51472C12.6924 2.92893 12.6924 1.97918 12.1066 1.3934C11.5208 0.80761 10.5711 0.807611 9.98528 1.3934L0.439341 10.9393ZM26.5 10.5L1.5 10.5L1.5 13.5L26.5 13.5L26.5 10.5Z" fill="white" />
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-0"></div>
            </div>
        </div>
        @if (CurrentAccount != null)
        {
            <div class="FooterRow2">
                <a href="/Account/Dashboard">
                    <div class="FooterAccountBox">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.1601 10.87C12.0601 10.86 11.9401 10.86 11.8301 10.87C9.45006 10.79 7.56006 8.84 7.56006 6.44C7.56006 3.99 9.54006 2 12.0001 2C14.4501 2 16.4401 3.99 16.4401 6.44C16.4301 8.84 14.5401 10.79 12.1601 10.87Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M7.15997 14.56C4.73997 16.18 4.73997 18.82 7.15997 20.43C9.90997 22.27 14.42 22.27 17.17 20.43C19.59 18.81 19.59 16.17 17.17 14.56C14.43 12.73 9.91997 12.73 7.15997 14.56Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <span>حساب کاربری من</span>
                    </div>
                </a>
                <div class="FooterLogo">
                    <a href="/Account/Dashboard"><img src="/assets/zeno/images/Logo2.png" alt=""></a>
                </div>
            </div>
        }
        <div class="FooterRow3">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="FooterLinks">
                        <div class="FooterLink">
                            <a href="@Url.Action("Index","StaticPage",new { id="ContactUs"})"><span>@Resource.Lang.ContactUs</span></a>
                        </div>
                        <div class="FooterLink">
                            <a href="@Url.Action("Index","StaticPage",new { id="PurchaseGuide"})"><span>راهنمای خرید و عودت کالا</span></a>
                        </div>
                        <div class="FooterLink">
                            <a href="@Url.Action("Index","StaticPage",new { id="Rules"})"><span>@Resource.Lang.Rules</span></a>
                        </div>

                        <div class="FooterLink">
                            <a href="@Url.Action("Index","StaticPage",new { id="AboutUs"})"><span>@Resource.Lang.AboutUs</span></a>
                        </div>
                        <div class="FooterLink">
                            <a href="@Url.Action("Index","StaticPage",new { id="Complain"})"><span>@Resource.Lang.SubmitComplains</span></a>
                        </div>
                        @if (CurrentAccount != null && CurrentAccount.StoreId == 0 && ShopWebsiteSetting.HasStore)
                        {
                            <div class="FooterLink">
                                <a href="/store/accounts/register"><span>درخواست همکاری و تامین کالا</span></a>
                            </div>

                        }


                        <div class="FooterLink">
                            <a href="@Url.Action("SearchCategory","Post",new {poviewName="Questions", poidlabel = "Questions" })"><span>@Resource.Lang.CommonQuestions</span></a>
                        </div>
						<div class="FooterLink">
                            <a href="/brands"><span>@Resource.Lang.Brands</span></a>
                        </div>
                        @*<div class="FooterLink">
                                <a href="@Url.Action("Index","StaticPage",new { id="Privacy"})"><span>@Resource.Lang.PrivacyPolicy</span></a>
                            </div>*@
                        <div class="FooterLink">
                            <a href="@Url.Action("Index","StaticPage",new { id="Blog"})"><span>@Resource.Lang.Blog</span></a>
                        </div>
						  <div class="FooterLink">
                            <a href="/po/StoreRequest"><span>شرایط درخواست همکاری و تامین کالا</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    @Html.Action("Search", "Banner", new { bacategory = "FooterLink", baviewName = "FooterLink", baSize = 10 })

                </div>
                <div class="col-lg-3 col-sm-4">
                    <div class="FooterOptions">
                        <a href="@Url.Action("Index","StaticPage",new { id="Map"})">
                            <div class="FooterOptionItem">
                                <span>نقشه ارسال / شرایط ارسال</span>
                            </div>
                        </a>

                        <a href="@Url.Action("SearchCategory", "Post", new { poviewName = "Suport", poidlabel = "Suport" })">
                            <div class="FooterOptionItem">
                                <span>@Resource.Lang.Support</span>
                            </div>
                        </a>
                        @*<a href="#">
                                <div class="FooterOptionItem">
                                    <span>چت آنلاین</sapn>
                                </div>
                            </a>*@
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="NamadBox">
                        <a>
                            <div class="NamadItem">
                                <svg width="116" height="105" viewBox="0 0 116 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M108 1.03717e-06H19.286C17.2402 0.000266192 15.2783 0.813077 13.8317 2.25968C12.3851 3.70627 11.5723 5.6682 11.572 7.714V69.43H1.929C1.4174 69.43 0.926749 69.6332 0.564991 69.995C0.203233 70.3567 0 70.8474 0 71.359C0.000265154 73.4048 0.813073 75.3667 2.25967 76.8133C3.70627 78.2599 5.6682 79.0727 7.714 79.073H63.644V102.216C63.6444 102.597 63.7578 102.97 63.9697 103.287C64.1817 103.603 64.4828 103.85 64.8351 103.996C65.1873 104.142 65.5749 104.18 65.9488 104.106C66.3227 104.032 66.6662 103.848 66.936 103.579L77.144 93.371L87.353 103.58C87.5321 103.759 87.7447 103.901 87.9788 103.998C88.2128 104.095 88.4637 104.145 88.717 104.145C88.9707 104.146 89.222 104.096 89.456 103.998C89.8083 103.852 90.1094 103.605 90.3212 103.287C90.533 102.97 90.646 102.597 90.646 102.216V79.073H96.432C98.4778 79.0727 100.44 78.2599 101.886 76.8133C103.333 75.3667 104.146 73.4048 104.146 71.359V9.643H113.789C114.042 9.643 114.293 9.5931 114.527 9.49616C114.761 9.39922 114.974 9.25714 115.153 9.07801C115.332 8.89889 115.474 8.68624 115.571 8.4522C115.668 8.21817 115.718 7.96732 115.718 7.714C115.718 6.70064 115.518 5.69722 115.13 4.76106C114.743 3.82489 114.174 2.97433 113.457 2.25797C112.74 1.5416 111.89 0.973475 110.953 0.586045C110.017 0.198616 109.013 -0.000524425 108 1.03717e-06ZM100.286 7.714V69.43H92.574V73.287H99.774C99.4357 73.8731 98.9492 74.3599 98.3633 74.6985C97.7774 75.0371 97.1127 75.2155 96.436 75.216H90.645V73.287H86.788V97.561L78.508 89.282C78.329 89.1029 78.1164 88.9608 77.8824 88.8639C77.6485 88.767 77.3977 88.7171 77.1445 88.7171C76.8913 88.7171 76.6405 88.767 76.4066 88.8639C76.1726 88.9608 75.96 89.1029 75.781 89.282L67.501 97.561V73.288H63.644V75.217H7.714C7.03729 75.2166 6.37261 75.0381 5.7867 74.6995C5.20078 74.3609 4.71427 73.8741 4.376 73.288H61.716V69.43H15.429V7.714C15.429 6.69106 15.8354 5.71002 16.5587 4.9867C17.282 4.26337 18.2631 3.857 19.286 3.857H101.36C100.666 5.02446 100.296 6.35588 100.288 7.714H100.286ZM104.662 5.785C105.001 5.19949 105.488 4.71336 106.074 4.37541C106.66 4.03745 107.324 3.85955 108.001 3.85955C108.677 3.85955 109.341 4.03745 109.927 4.37541C110.513 4.71336 111 5.19949 111.339 5.785H104.662Z" fill="white" />
                                    <path d="M95.3269 60.356L92.8559 55.93L95.3359 51.508C95.4603 51.2873 95.54 51.0443 95.5704 50.7928C95.6008 50.5413 95.5814 50.2863 95.5132 50.0424C95.4451 49.7984 95.3295 49.5703 95.1731 49.371C95.0167 49.1717 94.8226 49.0052 94.6019 48.881C94.5552 48.8543 94.5072 48.83 94.4579 48.808L89.8579 46.7L89.2639 41.666C89.2035 41.1579 88.9439 40.6947 88.542 40.3781C88.1401 40.0616 87.6289 39.9176 87.1209 39.9779C87.0716 39.9839 87.0229 39.9916 86.9749 40.0009L82.0029 40.9869L78.5639 37.2629C78.1942 36.8877 77.6907 36.6746 77.1639 36.6705C76.6372 36.6663 76.1304 36.8715 75.7549 37.2409L75.7329 37.2629L72.2939 40.9869L67.3219 40.0009C66.8201 39.9019 66.2995 40.0061 65.8746 40.2908C65.4497 40.5754 65.1552 41.0172 65.0559 41.519C65.0459 41.567 65.0389 41.619 65.0329 41.666L64.4389 46.7L59.8389 48.812C59.3739 49.0249 59.0126 49.4138 58.8342 49.8931C58.6559 50.3724 58.6752 50.9029 58.8879 51.368C58.9099 51.417 58.9349 51.468 58.9609 51.512L61.4409 55.93L58.9609 60.352C58.8365 60.5726 58.7568 60.8156 58.7264 61.0671C58.6959 61.3186 58.7154 61.5736 58.7835 61.8175C58.8517 62.0615 58.9673 62.2896 59.1236 62.4889C59.28 62.6882 59.4741 62.8547 59.6949 62.9789C59.7419 63.0049 59.7899 63.0299 59.8389 63.0519L64.4389 65.1639L65.0329 70.202C65.0626 70.4536 65.1417 70.6968 65.2655 70.9178C65.3893 71.1389 65.5555 71.3333 65.7545 71.4901C65.9536 71.6469 66.1815 71.7629 66.4254 71.8315C66.6693 71.9001 66.9243 71.92 67.1759 71.89C67.2252 71.884 67.2739 71.8763 67.3219 71.8669L72.2939 70.882L75.7329 74.606C76.0803 74.9812 76.5625 75.2031 77.0734 75.223C77.5844 75.2429 78.0824 75.0591 78.4579 74.7119C78.4949 74.6779 78.5299 74.643 78.5639 74.606L82.0029 70.882L86.9749 71.8669C87.2355 71.9202 87.5044 71.9182 87.7641 71.8611C88.0239 71.8039 88.2688 71.6928 88.4829 71.5349C88.6961 71.3777 88.8746 71.1781 89.0072 70.9488C89.1399 70.7194 89.2239 70.4652 89.2539 70.202L89.8479 65.1679L94.4479 63.0559C94.6782 62.9505 94.8855 62.8007 95.058 62.6151C95.2305 62.4296 95.3647 62.2119 95.453 61.9744C95.5413 61.737 95.582 61.4845 95.5727 61.2313C95.5634 60.9781 95.5043 60.7293 95.3989 60.499C95.3759 60.451 95.3519 60.403 95.3269 60.356ZM88.9649 56.8709L90.9489 60.412L87.2619 62.1029C86.9612 62.241 86.7011 62.454 86.5065 62.7216C86.312 62.9892 86.1895 63.3024 86.1509 63.631L85.6759 67.6679L81.6899 66.8789C81.367 66.8116 81.0322 66.8296 80.7183 66.9309C80.4045 67.0323 80.1224 67.2135 79.8999 67.4569L77.1459 70.443L74.3919 67.4609C74.2113 67.2657 73.9923 67.11 73.7486 67.0034C73.5049 66.8969 73.2418 66.8419 72.9759 66.8419C72.8502 66.8415 72.7248 66.8546 72.6019 66.881L68.6159 67.67L68.1409 63.6339C68.1022 63.3055 67.9797 62.9925 67.7851 62.7251C67.5906 62.4577 67.3305 62.2448 67.0299 62.107L63.3429 60.416L65.3269 56.8749C65.4918 56.588 65.5786 56.2629 65.5786 55.9319C65.5786 55.601 65.4918 55.2759 65.3269 54.989V54.9969L63.3429 51.456L67.0299 49.7639C67.3305 49.6261 67.5906 49.4132 67.7851 49.1458C67.9797 48.8784 68.1022 48.5654 68.1409 48.2369L68.6159 44.201L72.6019 44.99C72.9248 45.0561 73.2594 45.0376 73.5731 44.9361C73.8868 44.8347 74.1689 44.6537 74.3919 44.4109L77.1459 41.42L79.8999 44.4019C80.1223 44.6455 80.4043 44.827 80.7182 44.9286C81.032 45.0301 81.3669 45.0481 81.6899 44.981L85.6759 44.192L86.1509 48.2289C86.1895 48.5575 86.312 48.8707 86.5065 49.1383C86.7011 49.4059 86.9612 49.6189 87.2619 49.757L90.9489 51.4479L88.9649 54.989C88.8039 55.2764 88.7191 55.6002 88.7188 55.9297C88.7184 56.2591 88.8025 56.5832 88.9629 56.8709H88.9649Z" fill="white" />
                                    <path d="M77.1449 46.2871C75.2377 46.2871 73.3734 46.8527 71.7876 47.9123C70.2018 48.9718 68.9658 50.4779 68.236 52.2399C67.5061 54.0019 67.3152 55.9408 67.6872 57.8114C68.0593 59.6819 68.9777 61.4002 70.3263 62.7487C71.6749 64.0973 73.3931 65.0157 75.2637 65.3878C77.1343 65.7599 79.0731 65.5689 80.8352 64.8391C82.5972 64.1092 84.1032 62.8733 85.1628 61.2875C86.2224 59.7017 86.788 57.8373 86.788 55.9301C86.788 53.3726 85.772 50.9199 83.9636 49.1115C82.1552 47.3031 79.7024 46.2871 77.1449 46.2871ZM77.1449 61.7161C76.0006 61.7161 74.8819 61.3768 73.9304 60.741C72.9789 60.1052 72.2373 59.2016 71.7994 58.1443C71.3614 57.0871 71.2469 55.9237 71.4701 54.8013C71.6934 53.679 72.2444 52.648 73.0536 51.8388C73.8628 51.0296 74.8938 50.4785 76.0162 50.2553C77.1385 50.032 78.3019 50.1466 79.3592 50.5845C80.4164 51.0225 81.3201 51.7641 81.9558 52.7156C82.5916 53.6671 82.9309 54.7858 82.9309 55.9301C82.9309 56.6899 82.7813 57.4423 82.4905 58.1443C82.1997 58.8463 81.7735 59.4841 81.2363 60.0214C80.699 60.5587 80.0611 60.9849 79.3592 61.2757C78.6572 61.5665 77.9048 61.7161 77.1449 61.7161Z" fill="white" />
                                    <path d="M73.2879 11.5718H42.4299V15.4288H73.2879V11.5718Z" fill="white" />
                                    <path d="M92.5731 23.1431H23.1431V27.0001H92.5731V23.1431Z" fill="white" />
                                    <path d="M92.5731 30.8579H23.1431V34.7149H92.5731V30.8579Z" fill="white" />
                                    <path d="M50.144 55.9302H25.072V59.7872H50.144V55.9302Z" fill="white" />
                                </svg>
                                <span>ضمانت بازگشت کالا</span>
                            </div>
                        </a>
                        <a>
                            <div class="NamadItem">
                                <svg width="146" height="104" viewBox="0 0 146 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M74.079 101.5C101.417 101.5 123.579 79.3381 123.579 52C123.579 24.6619 101.417 2.5 74.079 2.5C46.7409 2.5 24.579 24.6619 24.579 52C24.579 79.3381 46.7409 101.5 74.079 101.5Z" stroke="white" stroke-width="5" />
                                    <path d="M73.579 95.5C97.3272 95.5 116.579 76.0244 116.579 52C116.579 27.9756 97.3272 8.5 73.579 8.5C49.8307 8.5 30.579 27.9756 30.579 52C30.579 76.0244 49.8307 95.5 73.579 95.5Z" stroke="white" />
                                    <path d="M50.0727 51.6764C50.0727 52.7915 49.8836 53.7661 49.5055 54.6C49.1321 55.4291 48.6012 56.0618 47.9127 56.4982C47.2242 56.9345 46.4218 57.1527 45.5055 57.1527C44.6133 57.1527 43.8206 56.9345 43.1273 56.4982C42.4339 56.057 41.8958 55.4291 41.5127 54.6145C41.1297 53.8 40.9333 52.8545 40.9236 51.7782V50.9636C40.9236 49.8679 41.1127 48.9006 41.4909 48.0618C41.8739 47.223 42.4121 46.5806 43.1055 46.1345C43.7988 45.6885 44.5939 45.4655 45.4909 45.4655C46.4024 45.4655 47.2048 45.6861 47.8982 46.1273C48.5964 46.5685 49.1321 47.2085 49.5055 48.0473C49.8836 48.8812 50.0727 49.8533 50.0727 50.9636V51.6764ZM48.5745 50.9418C48.5745 49.5939 48.303 48.5612 47.76 47.8436C47.2218 47.1212 46.4655 46.76 45.4909 46.76C44.5455 46.76 43.7988 47.1212 43.2509 47.8436C42.7079 48.5612 42.4291 49.5624 42.4145 50.8473V51.6764C42.4145 52.9855 42.6885 54.0133 43.2364 54.76C43.7891 55.5067 44.5455 55.88 45.5055 55.88C46.4752 55.88 47.2242 55.5285 47.7527 54.8255C48.2861 54.1176 48.56 53.1042 48.5745 51.7855V50.9418ZM56.4909 52.3964H53.8218V57H52.3091V45.6255H56.0764C57.3612 45.6255 58.3479 45.9188 59.0364 46.5055C59.7248 47.0873 60.0691 47.9333 60.0691 49.0436C60.0691 49.7564 59.8776 50.377 59.4945 50.9055C59.1115 51.4291 58.5806 51.8194 57.9018 52.0764L60.5709 56.9055V57H58.9636L56.4909 52.3964ZM53.8218 51.1745H56.1273C56.8691 51.1745 57.4606 50.983 57.9018 50.6C58.343 50.2121 58.5636 49.6933 58.5636 49.0436C58.5636 48.3406 58.3527 47.8024 57.9309 47.4291C57.5139 47.0558 56.9103 46.8667 56.12 46.8618H53.8218V51.1745ZM70.5757 55.5091C70.1927 56.0618 69.6545 56.4739 68.9612 56.7455C68.2727 57.017 67.4703 57.1527 66.5539 57.1527C65.6279 57.1527 64.8036 56.937 64.0812 56.5055C63.3636 56.0691 62.8085 55.4509 62.4157 54.6509C62.023 53.8461 61.8218 52.9152 61.8121 51.8582V50.8691C61.8121 49.1527 62.2121 47.8242 63.0121 46.8836C63.8121 45.9382 64.9345 45.4655 66.3794 45.4655C67.5673 45.4655 68.5224 45.7709 69.2448 46.3818C69.9721 46.9879 70.4157 47.8485 70.5757 48.9636H69.0776C68.7963 47.4558 67.9018 46.7018 66.3939 46.7018C65.3854 46.7018 64.6218 47.0558 64.103 47.7636C63.5842 48.4667 63.3224 49.4873 63.3176 50.8255V51.7564C63.3176 53.0315 63.6085 54.0473 64.1903 54.8036C64.777 55.5552 65.5673 55.9309 66.5612 55.9309C67.1236 55.9309 67.6157 55.8679 68.0376 55.7418C68.4594 55.6158 68.8085 55.4048 69.0848 55.1091V52.5564H66.4521V51.3345H70.5757V55.5091ZM74.6965 57H73.1984V45.6255H74.6965V57ZM86.1748 57H84.6621L78.9385 48.2364V57H77.433V45.6255H78.9385L84.6766 54.4327V45.6255H86.1748V57ZM95.1156 54.0327H90.352L89.2829 57H87.7338L92.0756 45.6255H93.392L97.7411 57H96.2065L95.1156 54.0327ZM90.8029 52.7964H94.672L92.7374 47.48L90.8029 52.7964ZM100.782 55.7709H106.171V57H99.2768V45.6255H100.782V55.7709Z" fill="white" />
                                    <path d="M23.382 42.3252H3L8.00598 52.501L3 62.1562H23.382" stroke="white" stroke-width="3" />
                                    <path d="M123.086 42.3252H143.469L138.463 52.501L143.469 62.1562H123.086" stroke="white" stroke-width="3" />
                                    <path d="M40.213 37.8931L43.264 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M46.315 37.8931L43.264 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M40.213 66.0552L43.264 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M46.315 66.0552L43.264 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M46.314 37.8931L49.365 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M52.416 37.8931L49.365 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M46.314 66.0552L49.365 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M52.416 66.0552L49.365 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M52.314 37.8931L55.365 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M58.416 37.8931L55.365 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M52.314 66.0552L55.365 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M58.416 66.0552L55.365 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M58.364 37.8931L61.415 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M64.466 37.8931L61.415 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M58.364 66.0552L61.415 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M64.466 66.0552L61.415 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M64.4141 37.8931L67.4651 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M70.5161 37.8931L67.4651 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M64.4141 66.0552L67.4651 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M70.5161 66.0552L67.4651 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M70.465 37.8931L73.516 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M76.567 37.8931L73.516 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M70.465 66.0552L73.516 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M76.567 66.0552L73.516 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M76.515 37.8931L79.566 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M82.617 37.8931L79.566 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M76.515 66.0552L79.566 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M82.617 66.0552L79.566 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M82.5651 37.8931L85.6161 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M88.6671 37.8931L85.6161 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M82.5651 66.0552L85.6161 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M88.6671 66.0552L85.6161 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M88.615 37.8931L91.666 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M94.717 37.8931L91.666 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M88.615 66.0552L91.666 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M94.717 66.0552L91.666 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M94.615 37.8931L97.666 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M100.717 37.8931L97.666 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M94.615 66.0552L97.666 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M100.717 66.0552L97.666 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M100.716 37.8931L103.767 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M106.818 37.8931L103.767 33.6421" stroke="white" stroke-linecap="round" />
                                    <path d="M100.716 66.0552L103.767 70.3062" stroke="white" stroke-linecap="round" />
                                    <path d="M106.818 66.0552L103.767 70.3062" stroke="white" stroke-linecap="round" />
                                </svg>
                                <span>ضمانت اصالت کالا</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
            <div class="FooterSocialMediaBox">
              @*  <a href="@Html.Raw(BaseContent.WebsiteDetail.Youtube)" rel="nofollow">
                    <div class="FooterSocialMediaItem">
                        <svg width="35" height="27" viewBox="0 0 35 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6.58769 0.430209C2.7511 0.747905 0 4.01061 0 7.86033V17.6904C0 21.7561 3.04801 25.1778 7.09981 25.514C10.4397 25.7912 14.3671 26.0465 17.5 26.0465C20.6329 26.0465 24.5603 25.7912 27.9002 25.514C31.952 25.1778 35 21.7561 35 17.6904V7.86034C35 4.01062 32.2489 0.747905 28.4123 0.430209C25.579 0.195594 21.8981 0 17.5 0C13.1019 0 9.42097 0.195594 6.58769 0.430209ZM22.3871 13.5285C23.1742 13.1751 23.1742 12.0575 22.3871 11.704L14.8399 8.31495C14.1782 8.01783 13.4302 8.50188 13.4302 9.2272V16.0054C13.4302 16.7307 14.1782 17.2147 14.8399 16.9176L22.3871 13.5285Z" fill="#E82020" />
                        </svg>
                    </div>
                </a>
                <a href="@Html.Raw(BaseContent.WebsiteDetail.Aparat)" rel="nofollow">
                    <div class="FooterSocialMediaItem">
                        <svg width="46" height="40" viewBox="0 0 46 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M24.0824 3.77908C16.6781 2.00001 9.16463 6.6026 7.38553 14.0068L8.8948 7.72533C9.84371 3.77594 13.8515 1.32104 17.8009 2.26984L24.0822 3.77914" fill="#221E1F" />
                            <path d="M28.7164 4.88678C36.1206 6.66585 40.7231 14.1793 38.944 21.5836L40.4532 15.3021C41.4022 11.3526 38.9472 7.34493 34.9978 6.396L28.7162 4.88679" fill="#221E1F" />
                            <path d="M21.2367 36.0125C28.6409 37.7913 36.1545 33.189 37.9333 25.7847L36.4243 32.0662C35.4753 36.0156 31.4676 38.4705 27.5181 37.5216L21.2364 36.0123" fill="#221E1F" />
                            <path d="M16.6026 34.9053C9.19827 33.1263 4.59586 25.6127 6.37486 18.2086L4.86563 24.4899C3.91671 28.4394 6.37174 32.4471 10.3211 33.3961L16.6018 34.9051" fill="#221E1F" />
                            <path d="M29.5012 19.5708C27.0284 19.5708 25.0237 17.5661 25.0237 15.0933C25.0237 12.6205 27.0284 10.6158 29.5012 10.6158C31.9741 10.6158 33.9786 12.6205 33.9786 15.0933C33.9786 17.5661 31.9741 19.5708 29.5012 19.5708ZM27.1126 31.4849C24.6398 31.4849 22.6351 29.4803 22.6351 27.0075C22.6351 24.5346 24.6398 22.53 27.1126 22.53C29.5855 22.53 31.5901 24.5346 31.5901 27.0075C31.5901 29.4803 29.5855 31.4849 27.1126 31.4849ZM20.5773 20.0625C20.5773 18.9763 21.4578 18.0959 22.5439 18.0959C23.63 18.0959 24.5104 18.9763 24.5104 20.0625C24.5104 21.1486 23.63 22.029 22.5439 22.029C21.4578 22.029 20.5773 21.1486 20.5773 20.0625ZM15.7917 29.2634C13.3188 29.2634 11.3142 27.2587 11.3142 24.7858C11.3142 22.3131 13.3188 20.3084 15.7917 20.3084C18.2645 20.3084 20.2692 22.3131 20.2692 24.7858C20.2692 27.2587 18.2645 29.2634 15.7917 29.2634ZM18.1802 8.39425C20.6531 8.39425 22.6578 10.3989 22.6578 12.8717C22.6578 15.3446 20.6531 17.3493 18.1802 17.3493C15.7074 17.3493 13.7028 15.3446 13.7028 12.8717C13.7028 10.3989 15.7074 8.39425 18.1802 8.39425ZM22.6578 4.07568C13.9165 4.07568 6.83032 11.1618 6.83032 19.903C6.83032 28.6443 13.9165 35.7304 22.6578 35.7304C31.399 35.7304 38.4851 28.6443 38.4851 19.903C38.4851 11.1618 31.399 4.07568 22.6578 4.07568Z" fill="#E6155E" />
                        </svg>
                    </div>
                </a>*@
                <a href="@Html.Raw(BaseContent.WebsiteDetail.Instagram)" rel="nofollow">
                    <div class="FooterSocialMediaItem">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 9C0 4.02944 4.02944 0 9 0H27C31.9706 0 36 4.02944 36 9V27C36 31.9706 31.9706 36 27 36H9C4.02944 36 0 31.9706 0 27V9ZM18 28C23.5228 28 28 23.5228 28 18C28 12.4772 23.5228 8 18 8C12.4772 8 8 12.4772 8 18C8 23.5228 12.4772 28 18 28ZM18 24.4286C21.5504 24.4286 24.4286 21.5504 24.4286 18C24.4286 14.4496 21.5504 11.5714 18 11.5714C14.4496 11.5714 11.5714 14.4496 11.5714 18C11.5714 21.5504 14.4496 24.4286 18 24.4286ZM29 10C30.6569 10 32 8.65685 32 7C32 5.34315 30.6569 4 29 4C27.3431 4 26 5.34315 26 7C26 8.65685 27.3431 10 29 10Z" fill="url(#paint0_linear_705_3098)" />
                            <defs>
                                <linearGradient id="paint0_linear_705_3098" x1="18" y1="0" x2="18" y2="36" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#D81129" />
                                    <stop offset="1" stop-color="#D81188" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </a>
                <a rel="nofollow" href="@Html.Raw(BaseContent.WebsiteDetail.Telegram)" rel="nofollow">
                    <div class="FooterSocialMediaItem">
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0007 0C8.0604 0 0 8.05842 0 18.0012C0 25.3692 4.43304 31.7025 10.7767 34.486C10.7258 33.2308 10.7683 31.7193 11.0873 30.3517C11.435 28.8917 13.4035 20.5454 13.4035 20.5454C13.4035 20.5454 12.8303 19.396 12.8303 17.6961C12.8303 15.0292 14.3769 13.037 16.3003 13.037C17.9369 13.037 18.7293 14.2671 18.7293 15.7404C18.7293 17.385 17.6793 19.8466 17.1397 22.1266C16.6886 24.0382 18.0962 25.5937 19.9796 25.5937C23.3898 25.5937 25.6867 21.2141 25.6867 16.0238C25.6867 12.0805 23.0303 9.12773 18.1976 9.12773C12.7383 9.12773 9.33694 13.1982 9.33694 17.745C9.33694 19.3154 9.7984 20.4203 10.522 21.2754C10.8573 21.6711 10.9013 21.8279 10.7807 22.281C10.6956 22.6089 10.4973 23.4096 10.4142 23.7247C10.2935 24.1797 9.92501 24.3449 9.515 24.1753C6.99801 23.149 5.8273 20.3946 5.8273 17.2979C5.8273 12.1863 10.1387 6.05185 18.6907 6.05185C25.5636 6.05185 30.0876 11.0285 30.0876 16.3646C30.0876 23.4264 26.163 28.7008 20.3738 28.7008C18.433 28.7008 16.604 27.6508 15.9769 26.4598C15.9769 26.4598 14.9313 30.606 14.7117 31.4062C14.3304 32.7931 13.5825 34.1814 12.8995 35.2606C14.5188 35.7393 16.2291 35.9995 18.0007 35.9995C27.9411 35.9995 36 27.9411 36 18.0012C36 8.05842 27.9411 0 18.0007 0Z" fill="#F72121" />
                        </svg>
                    </div>
                </a>
                <a rel="nofollow" href="@Html.Raw(BaseContent.WebsiteDetail.Linkedin)" rel="nofollow">
                    <div class="FooterSocialMediaItem">
                        <svg width="37" height="34" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.955C0 1.705 1.737 0 4.392 0C7.045 0 8.676 1.701 8.728 3.949C8.728 6.157 7.045 7.905 4.342 7.905H4.29C1.688 7.905 0 6.163 0 3.955ZM27.765 10.535C23.646 10.535 21.065 12.766 20.588 14.33V10.754H12.511C12.615 12.653 12.511 33.536 12.511 33.536H20.588V21.208C20.588 21.1271 20.5876 21.0462 20.5871 20.9657V20.9656C20.5838 20.3639 20.5806 19.7799 20.764 19.346C21.319 17.976 22.512 16.555 24.657 16.555C27.462 16.555 28.737 18.661 28.737 21.747V33.536H36.89V20.869C36.89 13.812 32.875 10.535 27.765 10.535ZM0.93 10.754H8.12V33.536H0.93V10.754Z" fill="#187FB8" />
                        </svg>
                    </div>
                </a>
                <a rel="nofollow" href="@Html.Raw(BaseContent.WebsiteDetail.Facebook)" rel="nofollow">
                    <div class="FooterSocialMediaItem">
                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M36.711 34.685C36.711 35.804 35.804 36.712 34.685 36.712H25.33V22.495H30.102L30.817 16.954H25.33V13.417C25.33 11.813 25.776 10.72 28.076 10.72L31.01 10.719V5.763C30.502 5.696 28.761 5.545 26.735 5.545C22.505 5.545 19.609 8.127 19.609 12.869V16.954H14.825V22.495H19.609V36.712H2.026C0.907 36.712 0 35.804 0 34.685V2.027C0 0.907 0.907 0 2.026 0H34.685C35.804 0 36.711 0.907 36.711 2.027V34.685Z" fill="#43619C" />
                        </svg>
                    </div>
                </a>
            </div>
            </div>
            </div>
        </div>
        <div class="FooterRow4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="FooterAccessLinks">
                        <a href="#" class="FooterAccessLink">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0L20 8L12 12L10 20L0 0Z" fill="white" />
                            </svg>
                            @Html.Raw(BaseContent.WebsiteDetail.Address)
                        </a>
                        <a rel="nofollow" href="mailto:@Html.Raw(BaseContent.WebsiteDetail.Email)" class="FooterAccessLink">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
</svg>
                            @Html.Raw(BaseContent.WebsiteDetail.Email)
                        </a>
                        <div class="FooterPhones FooterAccessLink">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 18.35V19C20 19.5523 19.5523 20 19 20H17C7.61116 20 0 12.3888 0 3V1C0 0.447715 0.447715 0 1 0H5C5.55228 0 6 0.447715 6 1V5C6 5.56 5.69 6.31 5.3 6.7L3.16 8.84C4.68 12.44 7.56 15.32 11.16 16.84L13.28 14.72C13.68 14.32 14.43 14.01 14.98 14.01H19C19.5484 14.0155 19.99 14.4616 19.99 15.01V18.36L20 18.35Z" fill="white" />
                            </svg>
                            <a href="tel:@Html.Raw(BaseContent.WebsiteDetail.Phone)">@Html.Raw(BaseContent.WebsiteDetail.Phone)</a>
                            <span class="mx-2">-</span>
                            <a href="tel:@Html.Raw(BaseContent.WebsiteDetail.Mobile)">@Html.Raw(BaseContent.WebsiteDetail.Mobile)</a>
                        </div>
                        <a href="#" class="FooterAccessLink">
                            @Html.Raw(BaseContent.WebsiteDetail.Address2)
                        </a>
                    </div>
                </div>
				<div class="col-lg-6">
					<div class="e-namad">
						<a target="_blank" href="https://trustseal.enamad.ir/?id=276183&code=SYUrnRkoaMIjyEiwjJzm">							
							<img src="/Assets/Zeno/images/enamad.png">
						</a>
						@* <img referrerpolicy='origin' id = 'rgvjjxlzwlaofukzrgvjjzpe' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=314637&p=xlaorfthaodsgvkaxlaojyoe", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=314637&p=qftinbpdshwlwlbqqftiyndt' /> *@
						<img referrerpolicy='origin' id = 'rgvjjxlzwlaofukzrgvjjzpe' style = 'cursor:pointer' onclick = 'window.open("https://logo.samandehi.ir/Verify.aspx?id=314637&p=xlaorfthaodsgvkaxlaojyoe", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt = 'logo-samandehi' src = 'https://logo.samandehi.ir/logo.aspx?id=314637&p=qftinbpdshwlwlbqqftiyndt' />
					</div>
				</div>
            </div>
        </div>
        <div class="FooterRow5">
            <div class="copyright">
                <a href="https://zeno.ir/" target="_blank"><span>ZENO.IR ALL RIGHTS RESERVED</span></a>
            </div>
        </div>
    </div>
</footer>
