@using DataLayer.Base;
@using DataLayer.Entities;
@using DataLayer.Enumarables;
@model DataLayer.Entities.Product

@{
    ViewBag.Title = @Resource.Lang.EditProduct.ToString() + " - " + Model.Name;
    Layout = "~/Views/Shared/Layout.cshtml";
    var setting = BaseWebsite.WebsiteSetting;
    string PanelUrl = BaseWebsite.PanelUrl;
}
@section Header {
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/fileuploads/css/dropify.min.css" />
}
@section Script {
    <script src="~/assets/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            initializeNewAdvertisingScript();
            $("#Status").val('@Model.Status');
        });

        /**/</script>
}
<div codeprocess-back-form="/store/Advertising" codeprocess-ajax-form="/store/Advertising/edit">
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.UpdateDatetime)
    @Html.HiddenFor(model => model.VisitCount)
    @Html.HiddenFor(model => model.SyncId)
    @Html.HiddenFor(model => model.SyncDatetime)
    @Html.HiddenFor(model => model.CreateDateTime)
    @Html.HiddenFor(model => model.LadderActive)
    @Html.HiddenFor(model => model.LadderDate)
    @Html.HiddenFor(model => model.AccountId)

    @Html.HiddenFor(model => model.IsAdvertising)


    <input type="hidden" id="PanelUrl" value="@PanelUrl" />
    <input type="hidden" id="LastStateId" value="@Model.StateId" />
    <input type="hidden" id="LastCityId" value="@Model.CityId" />

    <input type="hidden" id="LastProductTypeId" value="@Model.ProductTypeId" />

    <input type="hidden" id="LastProductCategoryId" value="@Model.ProductCategoryId" />
    <input type="hidden" id="LastProductSubCateogryId" value="@Model.ProductSubCategoryId" />
    <input type="hidden" id="LastPictureId" value="@Model.PictureId" />
    <input type="hidden" id="LastBrandId" value="@Model.BrandId" />
    <input type="hidden" id="LastProductOptionId" value="@Model.ProductOptionId" />
    <input type="hidden" id="LastUnitId" value="@Model.UnitId" />
    <input type="hidden" id="LastDocId" value="@Model.DocId" />
    <input type="hidden" id="VideoFileId" value="@Model.VideoFileId" />
    <input type="hidden" id="VideoDemoFileId" value="@Model.VideoDemoFileId" />
    <input type="hidden" id="MusicFileId" value="@Model.MusicFileId" />
    <input type="hidden" id="MusicDemoFileId" value="@Model.MusicDemoFileId" />
    <input type="hidden" id="AudioFileId" value="@Model.AudioFileId" />
    <input type="hidden" id="AudioDemoFileId" value="@Model.AudioDemoFileId" />
    <input type="hidden" id="PdfFileId" value="@Model.PdfFileId" />
    <input type="hidden" id="PdfDemoFileId" value="@Model.PdfDemoFileId" />
    <input type="hidden" id="ZipFileId" value="@Model.ZipFileId" />
    <div class="col-sm-12">
        <div class="card-box">
            <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>@Resource.Lang.ProductInfo</legend>
                            <div class="row">

                                @if (setting.HasUnitPrice)
                                {
                                    <div>
                                        <div style="color:red; font-size:20px;">

                                            در صورت به روز رسانی تمامی قیمت های این محصول با قیمت واحد محاسبه میگردد.

                                        </div>
                                    </div>

                                }

                                @if (setting.HasShop)
                                {
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ShopId, Resource.Lang.Shop, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownList("ShopId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {

                                    @Html.HiddenFor(model => model.ShopId)
                                }
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, Resource.Lang.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @autofocus = "autofocus" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Summary, Resource.Lang.Summery, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Description, @Resource.Lang.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @codeprocess = "editor", @class = "form-control", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Address, Resource.Lang.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Phone, Resource.Lang.PhoneNumbers, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="State" class="control-label col-md-4">@Resource.Lang.State</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("StateId", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="State" class="control-label col-md-4">@Resource.Lang.City</label>
                                        <div class="col-md-8">
                                            @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="State" class="control-label col-md-4">وضعیت کالا</label>
                                        <div class="col-md-8">
                                            <select id="Status" name="Status" class="form-control mb-3">
                                                <option value="0">
                                                    @Resource.Lang.NewProduct
                                                </option>
                                                <option value="1">
                                                    @Resource.Lang.LikeNewProduct
                                                </option>
                                                <option value="2">
                                                    @Resource.Lang.OldProduct
                                                </option>
                                                <option value="3">
                                                    نیازمند تعمیر
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">

                                        @Html.Label("VideoDemo", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-offset-2 col-md-10 videodemo">
                                            @if (Model.VideoDemoFileId != null)
                                            {
                                                <input id="uplFileVideoDemo" type="file" class="dropify" name="file" codeprocess="upload-cdnVideoDemo" data-height="290" data-default-file="@Html.Raw("/cdn/file/dl/" + Model.VideoDemoFileId)" />
                                            }
                                            else
                                            {
                                                <input id="uplFileVideoDemo" type="file" class="dropify" name="file" codeprocess="upload-cdnVideoDemo" data-height="290" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">

                                        @Html.Label("کاتلوگ", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-offset-2 col-md-10 pdfdemo">
                                            @if (Model.PdfDemoFileId != null)
                                            {
                                                <input id="uplFilePdfDemo" type="file" class="dropify" name="file" codeprocess="upload-cdnPdfDemo" data-height="290" data-default-file="@Html.Raw("/cdn/file/dl/" + Model.VideoDemoFileId)" />
                                            }
                                            else
                                            {
                                                <input id="uplFilePdfDemo" type="file" class="dropify" name="file" codeprocess="upload-cdnPdfDemo" data-height="290" />
                                            }
                                        </div>
                                    </div>
                                </div>
                                @if (setting.HasDate)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.StartDate, @Resource.Lang.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <input type="text" id="StartDate" name="StartDate" class="form-control" autocomplete="off" codeprocess="date" value="@Model.StartDate.ToPersian()" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EndDate, @Resource.Lang.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            <input type="text" id="EndDate" name="EndDate" class="form-control" autocomplete="off" codeprocess="date" value="@Model.EndDate.ToPersian()" />
                                        </div>
                                    </div>
                                }
                                <div class="clear"></div>
                                @if (setting.HasCodeValue)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CodeValue" class="control-label col-md-4">@Resource.Lang.ProductCode</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.CodeValue, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @autofocus = "autofocus" } })
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.ErrorLowCount)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="CodeValue" class="control-label col-md-4">تعداد برای اخطار اتمام موجوی کالا</label>
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.ErrorLowCount, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @autofocus = "autofocus" } })
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.HasService)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductTypeId" class="control-label col-md-4">خدمات</label>
                                            <div class="col-md-8">

                                                <div class="form-check form-check-inline">
                                                    <input checked class="form-check-input" type="radio" name="IsService" id="IsServiceF" value="false" @(Model.IsService ? "" : "checked")>
                                                    <label class="form-check-label" for="IsServiceF">خیر</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="IsService" id="IsServiceT" value="true" @(Model.IsService ? "checked" : "")>
                                                    <label class="form-check-label" for="IsServiceT">بلی</label>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.HasUnit)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="UnitId" class="control-label col-md-4">@Resource.Lang.Unit</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("UnitId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.HasProductType)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductTypeId" class="control-label col-md-4">@Resource.Lang.TypeProduct</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("ProductTypeId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }


                                @if (setting.HasUnitPrice)
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Weight, Resource.Lang.Weight, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>
                                }




                                @if (setting.HasProductCategory)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductCategoryId" class="control-label col-md-4">@Resource.Lang.Category</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("ProductCategoryId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.HasProductSubCategory)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProductSubCategoryId, Resource.Lang.Subordinates, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownList("ProductSubCategoryId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.HasBrand)
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BrandId, Resource.Lang.Brand, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownList("BrandId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.HasCompany)
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CompanyId, Resource.Lang.Company, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.HasStatus)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.StatusId, Resource.Lang.Status, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.StatusId)
                                }
                                @if (setting.HasMinOrder)
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MinOrder, @Resource.Lang.AtleastOrder, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.MinOrder, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.MinOrder)
                                }
                                @if (setting.HasShowNumber)
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ShowNumber, Resource.Lang.PriorityShow, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.ShowNumber, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.ShowNumber)
                                }
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Price, Resource.Lang.Price, htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-8">
                                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                        </div>
                                    </div>
                                </div>
                                @*@if (setting.HasLastPrice)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LastPrice, Resource.Lang.PriorPrice, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.LastPrice, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.LastPrice)
                                    }



                                    @if (setting.HasPrice)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Price, Resource.Lang.Price, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @Html.HiddenFor(model => model.Price)
                                    }
                                    @if (setting.HasUnitPrice)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Weight, Resource.Lang.Weight, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    @if (setting.HasQuantity)
                                    {
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Quantity, Resource.Lang.Stock, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                                </div>
                                            </div>
                                        </div>
                                    }*@



                                @if (setting.HasDocument)
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DocId, Resource.Lang.AttachFile, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <input id="DocId" name="DocId" type="file" codeprocess="document" />
                                                @if (!string.IsNullOrEmpty(Model.WebsiteDocument.GetUrl()))
                                                {
                                                    <a href="@Model.WebsiteDocument.GetUrl()" target="_blank"> @Resource.Lang.DownloadFile</a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.HasShowHomePage)
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ShowHomePage, Resource.Lang.FirstPage, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(model => model.ShowHomePage)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (setting.HasCustomFields)
                                {
                                    <h5 class="col-sm-12"> فیلد های اختصاصی</h5>
                                    <div id="div-custom-part"></div>
                                }
                                @*@if (setting.HasColor)
                                    {
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">@Resource.Lang.ChooseColor</label>
                                                <div class="col-md-10">
                                                    <div id="div-color-part">
                                                        <div id="color-container"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (setting.HasSize)
                                    {
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">@Resource.Lang.ChooseSize</label>
                                                <div class="col-md-10">
                                                    <div id="div-size-part">
                                                        <div id="size-container"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }*@
                                @if (setting.HasProductOption)
                                {
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="ProductOptionId" class="control-label col-md-4">@Resource.Lang.ProductOption</label>
                                            <div class="col-md-8">
                                                @Html.DropDownList("ProductOptionId", null, htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                }


                                @if (setting.HasSeo)
                                {
                                    <h5 class="col-sm-12"> فیلد های مربوط به سئو</h5>
                                    <div class="col-sm-12  mt-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.H1, " H1 ", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.H1, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title, Resource.Lang.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Url, @Resource.Lang.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Img, " عکس ", htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (setting.ProductMaxOrderCount)
                                {

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MaxOrderCount, Resource.Lang.MaxOrderCount, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.MaxOrderCount, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>

                                }
                                @if (setting.HasActive)
                                {
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Active, Resource.Lang.ActiveDeactive, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <select id="Active" class="form-control">
                                                    <option value="True">@Resource.Lang.Active</option>
                                                    <option value="False">@Resource.Lang.Deactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.IsPublish, "وضعبت انتشار", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <select id="IsPublish" class="form-control">
                                                    <option value="null">درحال بررسی</option>

                                                    <option value="True">تایید</option>
                                                    <option value="False">عدم تایید</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.Active)
                                }




                            </div>
                        </fieldset>
                        <div class="devider-15"></div>
                        @foreach (WebsiteLanguage lang in BaseLanguage.GetWebsiteLanguages())
                        {
                            if (lang.Language.Label != Enum_Lang.FA.ToString())
                            {

                                ProductLanguage productLanguage = Model.ProductLanguage.FirstOrDefault(p => p.LanguageId == lang.LanguageId);

                                <fieldset lang-value="@lang.Language.Label.ToLower()" class="ltr-fieldset">

                                    <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />
                                    <legend>@lang.Language.Label</legend>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">@Resource.Lang.Name</label>
                                        <div class="col-md-10">
                                            <input type="text" lang-name="Name" id="Name@(lang.Language.Label)" class="form-control" autocomplete="off" value="@( productLanguage != null ? productLanguage.Name : "")" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">@Resource.Lang.Summery </label>
                                        <div class="col-md-10">
                                            <input type="text" lang-name="Summary" id="Summary@(lang.Language.Label)" value="@( productLanguage != null ? productLanguage.Summary : "")" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">@Resource.Lang.Description</label>
                                        <div class="col-md-10">
                                            <input type="text" lang-name="Description" id="Description@(lang.Language.Label)" value="@( productLanguage != null ? productLanguage.Description : "")" class="form-control" autocomplete="off" codeprocess="editor" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2"> @Resource.Lang.Address </label>
                                        <div class="col-md-10">
                                            <input type="text" lang-name="Url" id="Url@(lang.Language.Label)" value="@( productLanguage != null ? productLanguage.Url : "")" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">@Resource.Lang.Title </label>
                                        <div class="col-md-10">
                                            <input type="text" lang-name="Title" id="Title@(lang.Language.Label)" value="@( productLanguage != null ? productLanguage.Title : "")" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            <label class="control-label col-md-2">Body(@lang.Language.Name)</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="Body" id="Body@(lang.Language.Label)" value="@( productLanguage != null ? productLanguage.Body : "")" class="form-control" autocomplete="off" codeprocess="editor" />
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <label class="control-label col-md-2">H1 </label>
                                        <div class="col-md-10">
                                            <input type="text" lang-name="H1" id="H@(lang.Language.Label)" value="@( productLanguage != null ? productLanguage.H1 : "")" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>


                                </fieldset>
                            }
                        }
                    </div>
                    <div class="col-sm-6 no-padding-left">
                        <div class="row">
                            <div class="col-sm-12">
                                @if (setting.HasPicture)
                                {
                                    <fieldset>
                                        <legend>@Resource.Lang.Image</legend>
                                        @if (Model.PictureId != null)
                                        {
                                            <input id="uplFile" type="file" class="dropify" name="file" codeprocess="upload" data-height="220" data-default-file="@Model.Picture.GetUrl()" />
                                        }
                                        else
                                        {
                                            <input id="uplFile" type="file" class="dropify" name="file" codeprocess="upload" data-height="220" />
                                        }
                                        <div class="devider-10"></div>
                                        <div class="devider-10"></div>
                                        <div class="related-picture-container">
                                            <div class="row">
                                                @foreach (var item in Model.ProductPicture.Where(p => p.ColorId == null))
                                                {
                                                    <div class="col-pic-20" other-picture-Id="@item.PictureId">
                                                        <label class="other-picture-item">
                                                            <img class="w-100" src="@item.Picture.GetUrl()" />
                                                            <label class="delete-other-picture" picture-id="@item.PictureId">
                                                                <i class="fa fa-close" aria-hidden="true"></i>
                                                            </label>
                                                        </label>
                                                    </div>
                                                }
                                                <div class="col-pic-20 add-item">
                                                    <label class="other-picture-item" for="uplOtherPicture">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="display-none">
                                                <input id="uplOtherPicture" type="file" />
                                            </div>
                                        </div>
                                    </fieldset>
                                }
                            </div>
                            <div class="col-sm-12 mt-4">
                                @*<div class="d-flex">
                                        <legend for="CodeValue" class="control-label">@Resource.Lang.Review</legend>
                                        <div class="col-pic-20 add-item addItemParent">
                                            <label class="other-review-item" onclick="addReview();">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    </div>*@
                                @*<div class="w-100 reviewBox">
                                        @{
                                            foreach (var item in Model.Review)
                                            {
                                                <div class="rowReview d-flex mt-3">
                                                    <input type="hidden" class="pictureReviewId" value="@item.PictureId" />
                                                    <textarea class="reviewContent w-100 m-2" placeholder="@Resource.Lang.Description" rows="3">@item.Contect</textarea>
                                                    <div class="imgBox">
                                                        <img class="reviewImg m-2" src="@item.Picture.GetUrl()" />
                                                        <label class="delete-review-picture m-2">
                                                            @Resource.Lang.RemovePicture
                                                        </label>
                                                    </div>
                                                    <div class="review-picture-item d-none m-2">
                                                        <input class="upoladFile " type="file" />
                                                    </div>
                                                    <label class="remove-review-item m-2">
                                                        <i class="fa fa-close" aria-hidden="true"></i>
                                                    </label>
                                                </div>
                                            }
                                        }
                                    </div>*@

                            </div>
                            <div class="col-sm-12 mt-4">
                                @*<div class="d-flex">
                                        <legend for="CodeValue" class="control-label">ویدئو</legend>
                                        <div class="col-pic-20 add-item addItemParent">
                                            <label class="other-review-item" onclick="addVideo();">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </label>
                                        </div>
                                    </div>*@
                                <div class="w-100 VideoBox">
                                    @{
                                        foreach (var item in Model.ProductVideo)
                                        {
                                            <div class="rowVideo d-flex mt-3">
                                                <input type="hidden" class="pictureVideoId" value="@item.PictureId" />
                                                <input type="text" class="VideoContent w-100 m-2" value="@item.Url" placeholder="لینک ویدئو" />
                                                <div class="imgBox">
                                                    <img class="VideoImg m-2" src="@item.Picture.GetUrl()" />
                                                    <label class="delete-video-picture m-2">
                                                        @Resource.Lang.RemovePicture
                                                    </label>
                                                </div>
                                                <div class="Video-picture-item d-none m-2">
                                                    <input class="upoladFile " type="file" />
                                                </div>
                                                <label class="remove-Video-item m-2">
                                                    <i class="fa fa-close" aria-hidden="true"></i>
                                                </label>
                                            </div>
                                        }
                                    }
                                </div>

                            </div>
                        </div>

                        <div class="row map-div">
                            <div class="col-sm-12  mt-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Latitude, Resource.Lang.Latitude, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Longitude, Resource.Lang.Longitude, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="form-group">
                                    @Html.Label("نقشه", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.Partial("~/Views/Partial/LocationPicker.cshtml")

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div>
                                <div class="col-md-10 no-padding-right col-md-offset-2">
                                    <div class="row error-container"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-11">
                                <input id="btnSubmit" type="button" value=@Resource.Lang.Register class="btn btn-success" />
                                <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
