@using DataLayer.Base;
@model DataLayer.Entities.DiscountGroup
@{
    ViewBag.Title = Resource.Lang.RemoveInfo;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-sm-12">
    <div class="card-box">
        <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title= @Resource.Lang.Back></a>
        <div class="col-sm-12">
            @if (ViewBag.Alert != null)
            {
                <p class="alert alert-danger">@ViewBag.Alert</p>

            }
            <div class="form-horizontal">
                <h3>@Resource.Lang.SureDelete</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Resource.Lang.Type
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Code.Name)
                    </dd>
                    <dt>
                        @Resource.Lang.Title
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Resource.Lang.Lable
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Label)
                    </dd>
                    <dt>
                        @Resource.Lang.DiscontAmount
                    </dt>
                    <dd>
                        @Model.GetDiscountString()
                    </dd>
                    <dt>
                        @Resource.Lang.StartDate
                    </dt>
                    <dd>
                        @Model.StartDatetime.ToPersian().ToPersian()
                    </dd>
                    <dt>
                        @Resource.Lang.EndDate
                    </dt>
                    <dd>
                        @Model.EndDatetime.ToPersian().ToPersian()
                    </dd>
                    <dt>
                        @Resource.Lang.ActiveDeactive
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Active)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value=@Resource.Lang.Delete class="btn btn-danger" />
                        <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>