@using DataLayer.Base;
@using DataLayer.Entities;
@using DataLayer.ViewModels;
@using DataLayer.Enumarables;
@model DataLayer.Entities.ProductCategory

@{
    ViewBag.Title = Resource.Lang.EditProductCategories;
    Layout = "~/Views/Shared/Layout.cshtml";
    var setting = BaseWebsite.WebsiteSetting;
}

<div codeprocess-ajax-form="/store/productcategory/edit" codeprocess-back-form="/store/productcategory?typeId=@Model.TypeId">
    @Html.HiddenFor(p => p.SyncDatetime)
    @Html.HiddenFor(p => p.SyncId)

    <input id="LastPictureId" type="hidden" value="@Model.PictureId" />
    <input id="LastIconId" type="hidden" value="@Model.IconId" />
    <div class="col-sm-12">
        <div class="card-box">
            <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
            <div class="col-sm-12">
                <div class="form-horizontal">
                    <div>
                        <div class="col-md-10 col-md-offset-2">
                            <div class="row">
                                @Html.Partial("~/Views/Public/Message.cshtml", (ViewMessage)ViewBag.Message)
                            </div>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)
                    <div class="col-sm-6 no-padding-right">
                        <fieldset>
                            <legend>@Resource.Lang.CategoryInfo</legend>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TypeId, Resource.Lang.TypeProduct, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TypeId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, @Resource.Lang.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionMeta, Resource.Lang.Summery, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DescriptionMeta, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, @Resource.Lang.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @codeprocess = "editor", @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            @if (BaseWebsite.WebsiteSetting.HasActive)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Active, "وضعیت نمایش", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Active)
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                @Html.LabelFor(model => model.Canonical, "Canonical", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Canonical, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoIndex, "NoIndex", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NoIndex)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoFollow, "NoFollow", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NoFollow)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Priority, Resource.Lang.DisplayPriority, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="font-bold">
                                    اولویت های ثبت شده
                                </div>
                                <div class="col-lg-12">
                                    <div id="divprority"></div>
                                    @*@Html.Partial("~/Areas/store/Views/ProductSubCategory/PriorityList.cshtml")*@
                                    @*@Html.Action("PriorityList", "ProductSubCategory", new { categoryId = Model.CategoryId })*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2"> @Resource.Lang.Menu </label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TitlePage, Resource.Lang.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TitlePage, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomLabel, @Resource.Lang.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CustomLabel, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.H1, "H1", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.H1, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Schema, "Schema", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <textarea rows="5" cols="60" id="Schema" name="Schema">@Model.Schema</textarea>
                                </div>
                            </div>

                            @foreach (WebsiteLanguage lang in BaseLanguage.GetWebsiteLanguages())
                            {
                                if (lang.Language.Label != Enum_Lang.FA.ToString())
                                {
                                    ProductCategoryLanguage categoryLanguage = Model.ProductCategoryLanguage.FirstOrDefault(p => p.LanguageId == lang.LanguageId);

                                    <fieldset lang-value="@lang.Language.Label.ToLower()" class="ltr-fieldset">

                                        <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />

                                        <legend>@lang.Language.Label</legend>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">@Resource.Lang.Name (@lang.Language.Name)</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="Name" id="Name@(lang.Language.Label)" class="form-control" autocomplete="off" value="@(categoryLanguage != null ? categoryLanguage.Name : "")" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">@Resource.Lang.Summery</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="DescriptionMeta" id="DescriptionMeta@(lang.Language.Label)" class="form-control" autocomplete="off" autofocus="autofocus" value="@(categoryLanguage != null ? categoryLanguage.DescriptionMeta : "")" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-2">@Resource.Lang.Description</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="Description" id="Description@(lang.Language.Label)" codeprocess="editor" class="form-control" autocomplete="off" value="@(categoryLanguage != null ? categoryLanguage.Description : "")" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">@Resource.Lang.Title</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="TitlePage" id="TitlePage@(lang.Language.Label)" class="form-control" autocomplete="off" value="@(categoryLanguage != null ? categoryLanguage.TitlePage : "")" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">H1</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="H1" id="H@(lang.Language.Label)" class="form-control" autocomplete="off" value="@(categoryLanguage != null ? categoryLanguage.H1 : "")" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-2">@Resource.Lang.Menu</label>
                                            <div class="col-md-10">
                                                <input type="text" lang-name="Url" id="Url@(lang.Language.Label)" class="form-control" autocomplete="off" value="@(categoryLanguage != null ? categoryLanguage.Url : "")" />
                                            </div>
                                        </div>

                                    </fieldset>
                                }
                            }
                        </fieldset>
                    </div>
                    <div class="col-sm-6 no-padding-left">
                        <div class="row">
                            <div class="col-sm-8">
                                <fieldset>
                                    <legend>@Resource.Lang.Image</legend>
                                    @if (Model.PictureId != null)
                                    {
                                        <input id="uplFile" type="file" class="dropify" name="file" codeprocess="upload" data-height="230" data-default-file="@Model.Picture.GetUrl()" />
                                    }
                                    else
                                    {
                                        <input id="uplFile" type="file" class="dropify" name="file" codeprocess="upload" data-height="230" />
                                    }
                                </fieldset>
                            </div>
                         
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="btnSubmit" type="submit" value=@Resource.Lang.Save class="btn btn-success" />
                            <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Header {
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/fileuploads/css/dropify.min.css" />
}
@section Script {
    <script src="~/assets/plugins/tinymce/tinymce.min.js"></script>
    <script src="~/assets/plugins/fileuploads/js/dropify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#TypeId").change();
            initializeProductCategoryScript();
        });
    </script>
}
