@using DataLayer.Base;
@model DataLayer.Entities.TelegramBot
@{
    ViewBag.Title = Resource.Lang.RemoveInfo;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="col-sm-12">
    <div class="card-box">
        <a href="@Url.Action("index")" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
        <div class="col-sm-12">
            @if (ViewBag.Alert != null)
            {
                <p class="alert alert-danger">@ViewBag.Alert</p>

            }
            <div class="form-horizontal">
                <h3>@Resource.Lang.SureDelete</h3>
                <dl class="dl-horizontal">
                    <dt>
                        @Resource.Lang.Name
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Resource.Lang.UserName
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt>
                        @Resource.Lang.Token
                    </dt>
                    <dd>
                        @Model.Token.ToUpper()
                    </dd>
                    <dt>
                        @Resource.Lang.Index
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Offset)
                    </dd>
                    <dt>
                        @Resource.Lang.AboutContext
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AboutText)
                    </dd>
                    <dt>
                        @Resource.Lang.Description
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt>
                        @Resource.Lang.DateTimeUpdate
                    </dt>
                    <dd>
                        @Model.UpdateDatetime.ToPersianWithTime().ToPersian()
                    </dd>
                    <dt>
                        @Resource.Lang.RegisterDate
                    </dt>
                    <dd>
                        @Model.CreateDatetime.ToPersianWithTime().ToPersian()
                    </dd>
                    <dt>
                        @Resource.Lang.RegisterarUser
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SiteUser.FullName)
                    </dd>
                </dl>
            </div>
            <div class="form-group">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" value=@Resource.Lang.Delete class="btn btn-danger" />
                        <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "Index")</span>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>