@using DataLayer.Entities;

@model IEnumerable<DataLayer.ViewModels.ViewProductCustomItem>
@{
    ProductCustomField field = ViewBag.ProductCustomField;

    int? typeId = ViewBag.ProductTypeId;
    int? categoryId = ViewBag.ProductCategoryId;
    int? subcategoryId = ViewBag.ProductSubCategoryId;
    int? brandId = ViewBag.ProductBrandId;

    ViewBag.Title =Resource.Lang.ItemsList + field.Name;
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section Footer {
    @Html.Action("TableScript", "Layout", new { area = "" })
}
@section Script {
    <script type="text/javascript">
        TableManageButtons.init();
    </script>
}
<div>
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <a href="@Url.Action("index", new {
                    @typeId = typeId,
                    @brandId = brandId,
                    @categoryId = categoryId,
                    @subcategoryId = subcategoryId,
                    @controller ="customproducttype",
                    @action ="index"
                })" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
            <a href="@Url.Action("create", new { @id = ViewBag.Id })" class="icon circle-icon glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.AddNewCase></a>
            <table id="datatable-buttons" class="table table-striped table-bordered has-first">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Resource.Lang.FieldName</th>
                        <th>@Resource.Lang.Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.RowId)</td>
                            <td>@Html.DisplayFor(modelItem => item.Field.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Value)</td>
                            <td>
                                @Html.ActionLink(Resource.Lang.Edit, "edit", new { id = item.Id }) |
                                @Html.ActionLink(Resource.Lang.Detail, "details", new { id = item.Id }) |
                                @Html.ActionLink(Resource.Lang.Delete, "delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- end col -->
</div>
