@using DataLayer.Base
@model IEnumerable<DataLayer.Entities.Question>
@{
    ViewBag.Title = Resource.Lang.Question;
    Layout = "~/Views/Shared/Layout.cshtml";
    string name = BaseRouteView.GetStringValue(Request, "name");
    var counter = 1;
}
@section Footer {
    @Html.Action("TableScript", "Layout", new { area = "" })
}

@section Script {
    <script type="text/javascript">
        TableManageButtons.init();
    </script>
}
@using (Html.BeginForm())
{
    <div>
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <div class="clear"></div>
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="first">#</th>

                            <th>@Resource.Lang.FullName</th>
                            <th>@Resource.Lang.Date</th>
                            <th>@Resource.Lang.Status</th>
                            <th>محرمانه</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@Html.DisplayFor(modelItem => item.Account.FullName)</td>
                                <td>
                                    @item.CreateDate.ToPersianWithTime()
                                 
                                </td>

                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <span>تایید </span>
                                    }
                                    else
                                    {
                                        <span>عدم تایید </span>
                                    }
                                </td>

                                <td>
                                    @if (item.IsPrivate == true)
                                    {
                                        <span>محرمانه </span>
                                    }
                                    else
                                    {
                                        <span>- </span>
                                    }
                                </td>
                                
                                <td>
                                    @Html.ActionLink("جزئیات" , "Edit", new { id = item.ID })
                                </td>
                            </tr>
                            counter++;
                        }
                    </tbody>
                </table>
            </div>
        </div><!-- end col -->
    </div>
}