@using DataLayer.Base;
@using DataLayer.Entities;
@using DataLayer.ViewModels;
@using DataLayer.Enumarables;
@model DataLayer.Entities.QuestionProductType
@{
    ProductType ProductType = ViewBag.ProductType;
    ViewBag.Title = Resource.Lang.Question + ProductType.Name ;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div codeprocess-ajax-form="/store/questionProductType/create" codeprocess-back-form="/store/questionProductType/index/@ProductType.ID">
    @Html.AntiForgeryToken()
    <input type="hidden" name="ProductTypeId" id="ProductTypeId" value="@ProductType.ID" />
    <div class="col-sm-12">
        <div class="card-box">
            <a href="@Url.Action("index", new { id = ProductType.ID })" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div>
                        <div class="col-md-10 col-md-offset-2">
                            <div class="row">
                                @Html.Partial("~/Views/Public/Message.cshtml", (ViewMessage)ViewBag.Message)
                            </div>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @foreach (WebsiteLanguage lang in BaseLanguage.GetWebsiteLanguages())
                    {
                        if (lang.Language.Label != Enum_Lang.FA.ToString())
                        {
                            <div class="form-group" lang-value="@lang.Language.Label.ToLower()">
                                <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />
                                <label class="control-label col-md-2">@Resource.Lang.Question (@lang.Language.Name)</label>
                                <div class="col-md-10">
                                    <input type="text" lang-name="Question" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                            <div class="form-group" lang-value="@lang.Language.Label.ToLower()">
                                <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />
                                <label class="control-label col-md-2">پاسخ (@lang.Language.Name)</label>
                                <div class="col-md-10">
                                    <input type="text" lang-name="Answer" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="btnSubmit" type="submit" value=@Resource.Lang.Register class="btn btn-success" />
                            <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "index", new { id = ProductType.ID })</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Script {
    <script type="text/javascript">
        $(document).ready(function () {
            initializeQuestionProductTypeScript();
        });
    </script>
}