@using DataLayer.Base;
@using DataLayer.Entities;
@using DataLayer.ViewModels;
@using DataLayer.Enumarables;
@model DataLayer.Entities.QuestionProductType
@{
    ViewBag.Title =Resource.Lang.Question;
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div codeprocess-ajax-form="/store/questionProductType/edit" codeprocess-back-form="/store/questionProductType/index/@Model.ProductTypeId">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ProductTypeId)
    <div class="col-sm-12">
        <div class="card-box">
            <a href="@Url.Action("index", new { id = Model.ProductTypeId })" class="icon circle-icon glyphicon glyphicon-arrow-left" data-toggle="tooltip" data-placement="bottom" title=@Resource.Lang.Back></a>
            <div class="col-sm-6">
                <div class="form-horizontal">
                    <div>
                        <div class="col-md-10 col-md-offset-2">
                            <div class="row">
                                @Html.Partial("~/Views/Public/Message.cshtml", (ViewMessage)ViewBag.Message)
                            </div>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Question, Resource.Lang.Question, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Answer, "پاسخ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.Answer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @foreach (WebsiteLanguage lang in BaseLanguage.GetWebsiteLanguages())
                    {
                        QuestionProductTypeLanguage questionProductTypeLanguageLanguage = Model.QuestionProductTypeLanguage.FirstOrDefault(p => p.LanguageId == lang.LanguageId);
                        string Question = questionProductTypeLanguageLanguage != null ? questionProductTypeLanguageLanguage.Question : "";
                        string Answer = questionProductTypeLanguageLanguage != null ? questionProductTypeLanguageLanguage.Answer : "";
                        if (lang.Language.Label != Enum_Lang.FA.ToString())
                        {
                            <div class="form-group" lang-value="@lang.Language.Label.ToLower()">
                                <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />
                                <label class="control-label col-md-2">@Resource.Lang.Question (@lang.Language.Name)</label>
                                <div class="col-md-10">
                                    <input type="text" lang-name="Question" class="form-control" autocomplete="off" value="@Question" />
                                </div>
                            </div>
                            <div class="form-group" lang-value="@lang.Language.Label.ToLower()">
                                <input type="hidden" lang-name="LanguageId" value="@lang.LanguageId" />
                                <label class="control-label col-md-2">پاسخ (@lang.Language.Name)</label>
                                <div class="col-md-10">
                                    <input type="text" lang-name="Answer" class="form-control" autocomplete="off" value="@Answer" />
                                </div>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="btnSubmit" type="submit" value=@Resource.Lang.Save class="btn btn-success" />
                            <span class="btn btn-inverse">@Html.ActionLink(Resource.Lang.Back, "index", new { id = Model.ProductTypeId })</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Script {
    <script type="text/javascript">
        $(document).ready(function () {
            initializeQuestionProductTypeScript();
        });
    </script>
}