@using DataLayer.Base;
@model  IEnumerable<DataLayer.Entities.Post>

@{

    //Layout = Resources.KhoshKala.WEBSITE_LAYOUT;
    DataLayer.Entities.Post searchModel = Model.FirstOrDefault();
    ViewBag.Title =searchModel.GetName();
}

<nav aria-label="breadcrumb" class="BREADCRUMB">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">@Resource.Lang.Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">@searchModel.GetName()</li>
        </ol>
    </div>
</nav>

<section class="Article">
    <div class="container">
        <div class="right_title"><strong>@searchModel.GetName()</strong></div>
        <div class="article_box">
            <div class="article_img">
                <img src="@searchModel.Picture.GetUrl()" height="100%" alt="@searchModel.GetName()">
            </div>
            <div class="article_body">
                <p>
                    @Html.Raw(@searchModel.GetBody())
                </p>
            </div>
            <div class="info-news">
                <div class="date-News">
                    <span><svg class="svg-inline--fa fa-clock fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="clock" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm57.1 350.1L224.9 294c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h48c6.6 0 12 5.4 12 12v137.7l63.5 46.2c5.4 3.9 6.5 11.4 2.6 16.8l-28.2 38.8c-3.9 5.3-11.4 6.5-16.8 2.6z"></path></svg><!-- <i class="fas fa-clock"></i> --></span>
                    <span class="data_blog">
                        @searchModel.CreateDateTime.ToPersianComplete()
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

